<h4>Component DataSources</h4>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Source</th>
    <th>Column or Key Name</th>
    <th></th>
    <th></th>
  </tr>
  {% for data in getComponentDataSources %}
  <tr>
    <th>{{ data.data_name }}</th>
    <th>{{ data.data_type }}</th>
    <th>{{ data.data_source }}</th>
    <th>{{ data.data_filter_key }}</th>
    <th><a href='/activitydb/custom_dashboard/data_update/{{ data.id }}' class="btn btn-xs btn-danger">Update</a></th>
    <th><a href='/activitydb/custom_dashboard/data_delete/{{ data.id }}' class="btn btn-xs btn-danger">Delete</a></th> 
  </tr>
  {% endfor %}
</table>
