<h4>Component DataSources</h4>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Source</th>
    <th>Column or Key Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for data in getComponentDataSources %}
  <tr>
    <td>{{ data.data_name }}</td>
    <td>{{ data.data_type }}</td>
    <td>{{ data.data_source }}</td>
    <td>{{ data.data_filter_key }}</td>
    <td><a data-toggle="modal" data-target="#myModal" href='/activitydb/custom_dashboard/data_update/{{ data.id }}/' class="components btn btn-xs btn-danger">Update</a></td>
    <td><a data-toggle="modal" data-target="#myModal" href='/activitydb/custom_dashboard/data_delete/{{ data.id }}/' class="components btn btn-xs btn-danger">Delete</a></td> 
  </tr>
  {% endfor %}
</table>