{% extends "customdashboard/themes/custom_base_layout.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

{% block page_title %}Dashboard Themes{% endblock %}

{% block content %}
<!-- <div>
<a href="/activitydb/custom_dashboard_add/0/" class="btn btn-large btn-success">Create Custom Dashboard Theme</a> &nbsp;
<hr/>
<br/>
</div> -->
<h3>Dashboard Themes</h3>

<!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>Theme Name</th>
        <th>Theme Type</th>
        <th>Example Dashboard</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDashboards %}
    <tr>
       <td> Date </td>       
       <td> I am a Dashboard Name</td>
       <td> I am a Dashboard Type</td>
        <td> <a href="/activitydb/custom_dashboard_delete/{{ item.id }}" class="btn btn-xs btn-danger">Example Dashboard</a></td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Dashboard Themes Available Yet.</li>
    {% endfor %}
</table>

{% endblock content %}