{% extends "customdashboard/themes/custom_base_layout.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

<!-- layout-specific content modules-->



{% block page_title %}Dashboard List{% endblock %}

{% block content %}
<div>
<a href="/activitydb/custom_dashboard_add/0/" class="btn btn-large btn-success">New Custom Dashboard</a> &nbsp;
<hr/>
<br/>
</div>
<h3>Current Dashboards</h3>

<table class="table">
    <tr>
        <th>Date Created</th>
        <th>Dashboard Name</th>
        <th>Dashboard Type</th>
        <th>Dashboard Description</th>
        <th>Public?</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDashboards %}
    <tr>
       <td>{{ item.create_date }}</td>       
       <td>{{ item.dashboard_name }}</td>
       <td>{{ item.dashboard_theme }}</td>
       <td>{{ item.dashboard_description }}</td>
       <td>{{ item.is_public }}</td>
        <td> <a href="/activitydb/custom_dashboard_delete/{{ item.id }}" class="btn btn-xs btn-danger">View Dashboard</a></td>
        <td> <a href="/activitydb/custom_dashboard_update/{{ item.id }}" class="btn btn-xs btn-danger">Edit Dashboard</a></td>
        <td> <a href="/activitydb/custom_dashboard_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Dashboard</a></td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Custom Dashboards.</li>
    {% endfor %}
</table>

{% endblock content %}