{% extends "customdashboard/themes/custom_base_layout.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

{% block page_title %}Dashboard Components{% endblock %}

{% block content %}
<!-- <div>
<a href="/activitydb/custom_dashboard_add/0/" class="btn btn-large btn-success">Create Custom Dashboard Theme</a> &nbsp;
<hr/>
<br/>
</div> -->
<h3>Dashboard Components</h3>

<!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>Component Name</th>
        <th>Component Type</th>
        <th>Example Component</th>
        <th>Data Source</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDashboardComponents %}
    <tr>
       <td> Date </td>       
       <td> I am a Dashboard Component</td>
       <td> I am a Component Type</td>
       <td> I am the Data</td>       
       <td> <a href="/activitydb/custom_dashboard/component_update/{{ item.id }}" class="btn btn-xs btn-danger">Update Component</a></td>
       <td> <a href="/activitydb/custom_dashboard/component_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Component</a></td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Dashboard Components Created Yet.</li>
    {% endfor %}
</table>

<div class="panel-footer">
  <a class="benchmarks" data-toggle="modal" data-target="#myModal" href="/activitydb/custom_dashboard/component_add/{{ item.id }}">Add Component</a>
</div>
{% endblock content %}