<h4>Dashboard Components</h4>

<table class="table">
  <tr>
    <th>Date Created</th>
    <th>Component Name</th>
    <th>Component Type</th>
    <th>Component Description</th>   
    <th>Public?</th>
    <th>Data Source</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  {% for component in getDashboardComponents %}
  <tr>
    <td> {{ component.create_date }}</td>       
    <td> {{ component.component_name }}</td>
    <td> {{ component.component_type }}</td>
    <td> {{ component.component_description }}</td>
    <td> {{ component.is_public }}</td>
    <td> {{ component.data_source }}</td>       
    <td> <a href="/activitydb/custom_dashboard/component_update/{{ component.id }}" class="btn btn-xs btn-danger">Update Component</a></td>
    <td> <a href="/activitydb/custom_dashboard/component_delete/{{ component.id }}" class="btn btn-xs btn-danger">Delete Component</a></td>
  </tr>
  {% endfor %}
</table>