{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Index</a></li>
  {%  if project_agreement_id != '0'%}
    <li><a href="/activitydb/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
  {% endif %}
  <li class="active">Beneficiaries</li>
</ol>
{% endblock %}
{% load group_tag %}
{% block page_title %}Beneficiary List{% endblock %}

{% block content %}
<div>
    <a href="/activitydb/beneficiary_add/0/" class="btn btn-large btn-success">New Beneficiary</a>
<hr/>
</div>

<ul class="list-group">
{% for item in getBeneficiaries %}
    <li class="list-group-item"><b>{{ item.create_date|date }} - {{ item.beneficiary_name }} - {{ item.age }} - {{ item.gender }}</b>
    <div class="btn-group align-right" role="group" aria-label="...">
        <a href="/activitydb/beneficiary_update/{{ item.id }}" class="btn btn-xs btn-warning">Update Beneficiary</a>
        <a href="/activitydb/beneficairy_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Beneficiary</a>
    </div>
    </li>

{% empty %}
    <li class="list-group-item">No beneficiaries yet.</li>
{% endfor %}
</ul>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}
