{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Dashboards</a></li>
  {% if project_agreement_id != '0' %}
    <li><a href="/activitydb/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
  {% endif %}
  <li class="active">Documentation List</li>
</ol>
{% endblock %}
{% block page_title %}Document List{% endblock %}

{% block content %}

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/documentation_list/0/0/">-- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/documentation_list/{{ program.id }}/0/">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
  </ul>
    <a href="/activitydb/documentation_add" class="btn btn-large btn-success">New Document</a>

</div>
<br/>
<!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>Document Name</th>
        <th>Project</th>
        <th>Program</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDocumentation %}
    <tr>
        <td><a href="/activitydb/documentation_update/{{ item.id }}">{{ item.create_date}}</a></td>
        <td><a href="/activitydb/documentation_update/{{ item.id }}">{{ item.name}}</a></td>
        <td><a href="/activitydb/documentation_update/{{ item.id }}">{{ item.project}}</a></td>
        <td>{{ item.program}}</td>
        <td><a href="/activitydb/documentation_update/{{ item.id }}" class="btn btn-xs btn-info">Update</a>
            <a href="/activitydb/documentation_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Document</a>
        </td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Documents.</li>
    {% endfor %}
</table>



<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}