<tr>
    <td>{{ item.create_date|date:"d-m-Y" }}</td>
    <td> {{ item.project_name }} <br/>
        <a class="btn btn-xs btn-default">{% if item.approval == "approved" %}<span class="glyphicon glyphicon-lock"></span>{% endif%} Initiation Form</a>
        <a href="/activitydb/projectagreement_update/{{ item.id }}" class="btn btn-xs btn-default">Tracking Form</a>
        <a href="/activitydb/projectagreement_detail/{{ item.id }}" class="btn btn-xs btn-default">Print View</a>
    </td>
    <td>{{ item.activity_code }}</td>
    <td>{{ item.office }} </td>
    <td>{{ item.detailed }} </td>
    <td>{% if item.projectcomplete %} Tracking {% if item.projectcomplete.approval  %}{{ item.projectcomplete.approval|capfirst }}{% else %}Open{% endif %}{% else %} Initiation {% if item.approval  %}{{ item.approval|capfirst }}{% else %} Open {% endif %} {% endif %}</td>
    <td>
        <a href="/activitydb/dashboard/project/{{ item.id }}" class="btn btn-xs btn-success">Project Dashboard</a>
    </td>
</tr>
