{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Dashboards</a></li>
  <li><a href="/activitydb/report/">Project Report</a></li>
  <li class="active">Report</li>
</ol>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Project Report{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/activitydb/projectproposal_detail/{{ id }}/">Proposal</a></li>
  <li role="presentation"><a href="/activitydb/projectagreement_detail/{{ id }}/">Agreement</a></li>
  <li role="presentation"><a href="/activitydb/projectcomplete_detail/{{ id }}/">Complete</a></li>
  <li role="presentation"><a href="/activitydb/community_report/{{ id }}/">Communities</a></li>
</ul>
<h3>{{ proposal.project_name }}</h3>
<p><b>Created:</b> {{ proposal.create_date }} <b>Last Edited:</b> {{ proposal.edit_date }} <span class="btn btn-xs btn-info">Status: <b>{{ proposal.approval }}</b></span></p>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part I: General Information</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>
            <th>Activity Code</th>
            <th>Date Requested</th>
            <th>Sector</th>
            <th>Office</th>
        </tr>
        <tr>
            <td>{{ proposal.activity_code }}</td>
            <td>{{ proposal.date_requested }}</td>
            <td>{{ proposal.sector }}</td>
            <td>{{ proposal.office }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>
            <th>Program</th>
            <th>Project Name</th>
            <th>Project Activity</th>
            <th>Project Type</th>
        </tr>
        <tr>
            <td>{{ proposal.program }}</td>
            <td>{{ proposal.project_name }}</td>
            <td>{{ proposal.project_activity }}</td>
            <td>{{ proposal.project_type }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>
            <th>Community Representative</th>
            <th>Community Representative Contact Number</th>
            <th>If Rejected, rejection letter send to community?</th>
        </tr>
        <tr>
            <td>{{ proposal.community_rep }}</td>
            <td>{{ proposal.community_rep_contact }}</td>
            <td>{{ proposal.has_rej_letter }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>
            <th>MC Community Mobilizer</th>
            <th>MC Community Mobilize Contact Number</th>
        </tr>
        <tr>
            <td>{{ proposal.community_mobilizer }}</td>
            <td>{{ proposal.community_mobilizer_contact }}</td>
        </tr>
    </table>
</div>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part II: Proposed Project Description</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>
            <th>Describe the project you would like the program to consider</th>
        </tr>
        <tr>
            <td>{{ proposal.project_description }}</td>
        </tr>
    </table>
    <br/>
</div>
<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">Part III: Project Approval</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>
            <th>Action</th>
            <th>E-Signature</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Submitted By</td>
            <td>{{ proposal.approval_submitted_by }}</td>
            <td>{{ proposal.approval_submitted_by_date}}</td>
        </tr>
        <tr>
            <td>Estimated</td>
            <td>{{ proposal.approved_by }}</td>
            <td>{{ proposal.approved_date}}</td>
        </tr>
        <tr>
            <td>Approved</td>
            <td>{{ proposal.approved_by }}</td>
            <td>{{ proposal.approved_date}}</td>
        </tr>
    </table>
    <table class="table" border="1">
        <tr>
            <th>Approval Remarks</th>
        </tr>
        <tr>
            <td>{{ proposal.approval_remarks }}</td>
        </tr>
    </table>
</div>




{% endblock content %}