{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Dashboards</a></li>
  <li class="active">Reports</li>
</ol>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Project Report{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}
<br/>
<div class="dropdown">
	{% include "activitydb/filter.html" %}
</div>
<br>

{% render_table get_agreements %}

<br/>

<button type="submit" class="btn btn-success" onClick="location.href='/activitydb/report?export=true&{{ request.GET.urlencode }}'">Export All</button>

<script type="text/javascript">
    function program_filter(program_id) {
    	window.location.href = '/activitydb/report/'+program_id+'/0';      
      }

    function status_filter(status_id) {
    	window.location.href = '/activitydb/report/0/'+status_id;      
      }
 </script>

{% endblock content %}