{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Index</a></li>
  {%  if project_agreement_id != 0 %}
    <li><a href="/activitydb/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
  {% endif %}
  <li class="active">Site Profiles</li>
</ol>
{% endblock %}
{% load group_tag %}
{% block page_title %}Site Profile List{% endblock %}

{% block content %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/siteprofile_list/0/0">-- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/siteprofile_list/{{ program.id }}/0/">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
  </ul>
    <a href="/activitydb/siteprofile_add" class="btn btn-large btn-success">New Site Profile</a>
     <!-- feature not yet enabled
     <a href="/activitydb/siteprofile_import" class="btn btn-large btn-info" data-toggle="modal" data-target="#importModal">Import Site Profile</a> -->
</div>
<br/>

<style>
    #map { height: 480px; }
</style>
{% load crispy_forms_tags %}
{% crispy form form.helper %}
<h4>Site Profile Map and List</h4>

{% if offline_mode %}
    <h2>Offline (No map provided)</h2>
{% else %}
    <div id="map"></div>

    {% include "activitydb/site_profile_map.html" %}

    <script>
        function ZoomToCountry(region){
            if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([9,-60], 4);
            }else if(region == "East Asia"){
                map.setView([30,96], 4);
            }else if(region == "Central & South Asia"){
                map.setView([30,80], 4);
            }else if(region == "East & Southern Africa"){
                map.setView([10,10], 4);
            }else if(region == "West & Central Africa"){
                map.setView([10,10], 4);
            }else if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([30,20], 4);
            }else if(region == "Middle East"){
                map.setView([30,20], 4);
            }else if(region == "1"){
                map.setView([10,-10], 2);
            };
        }
    </script>
{% endif %}

 <!-- Display site profiles & projects -->
<table class="table table-striped">
    <tr>
        <th>Date Created</th>
        <th>Profile Name</th>
        <th>Status</th>
        <th>Profile Type</th>
        <th>Province</th>
        <th>District</th>
        <th>&nbsp;</th>
    </tr>
    {% if getSiteProfile %}
      {% for item in getSiteProfile %}

    <tr>
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.create_date|date:"d-m-Y" }} </a></td>
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.name }}</a></td>
        {% if item.status == 1 %}
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}"><span class="badge">Active</span></a></td>
        {%else%}
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}"><span class="badge">Inactive</span></a></td>
        {%endif%}
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.type }}</a></td>
        <td>{{ item.province }}</td>
        <td>{{ item.district }}</td>
        <td><a class="btn btn-xs btn-success" data-toggle="collapse" data-target="#hidden-{{ item.id }}">View Projects </a><a href="/activitydb/siteprofile_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Site Profile</a></td>
    </tr>

    <tr>
        <td colspan="7" class="hiddenRow">
            <div id="hidden-{{ item.id }}" class="accordian-body collapse">
                <table class="table table-bordered">
                    <tr>
                        <th>Project Name</th>
                        <th>Program</th>
                        <th>Activity Code</th>
                        <th>Expected Start Date</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% if getSites %}
                    {% for site in getSites %}
                            {% for items in site.projectagreement_set.all %}
                                {% if item.id == site.id %}
                    <tr>
                        <td>{{ items.project_name }}</td>
                        <td>{{ items.program.name }}</td>
                        <td>{{ items.activity_code }}</td>
                        <td>{{ items.expected_start_date|date:"m-d-Y" }}</td>
                        <td><a target="_new" href='/activitydb/projectagreement_detail/{{ item.id }}/'>Project Report</a></td>
                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">No Projects on this Site</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </td>
    </tr>
      {% endfor %}
    {% else %}
    <tr>
        <td colspan="7">No Site Profiles yet.</td>
    </tr>
    {% endif %}
</table>
<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock content %}
