{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Index</a></li>
  <li><a href="/activitydb/report/">Project Report</a></li>
  <li class="active">Report</li>
</ol>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Project Report{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/activitydb/projectagreement_detail/{{ id }}/">Initiation</a></li>
  <li role="presentation"><a href="/activitydb/projectcomplete_detail/{{ id }}/">Tracking</a></li>
  <li role="presentation" class="active"><a href="/activitydb/siteprofile_report/{{ id }}/">Sites</a></li>
</ul>
<h3>{{ proposal.project_name }}</h3>
<style>
    #map { height: 480px; }
</style>

<p><b>{{ country.country }} Sites</b></p>
<div id="map"></div>

{% include "activitydb/site_profile_map.html" %}

<ul class="list-group">
{% for item in getSiteProfile %}
    <li class="list-group-item"><b>{{ item.create_date|date }} - {{ item.name }}</b>
    <div class="btn-group align-right" role="group" aria-label="...">
        <a href="/activitydb/siteprofile_update/{{ item.id }}" class="btn btn-xs btn-warning">Update Sites</a>
    </div>
    </li>
{% empty %}
    <li class="list-group-item">No sites yet.</li>
{% endfor %}
</ul>
{% endblock content %}
