{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Index</a></li>
  {%  if project_agreement_id != 0 %}
    <li><a href="/activitydb/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
  {% endif %}
  <li class="active">Site Profiles</li>
</ol>
{% endblock %}
{% load group_tag %}
{% block page_title %}Site Profile List{% endblock %}

{% block content %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/siteprofile_list/0/0">-- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/activitydb/siteprofile_list/{{ program.id }}/0/">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
  </ul>
    <a href="/activitydb/siteprofile_add" class="btn btn-large btn-success">New Site Profile</a>
     <!-- feature not yet enabled
     <a href="/activitydb/siteprofile_import" class="btn btn-large btn-info" data-toggle="modal" data-target="#importModal">Import Site Profile</a> -->
</div>
<br/>

<style>
    #map { height: 480px; }
</style>
{% load crispy_forms_tags %}
{% crispy form form.helper %}
<h4>Site Profile Map and List</h4>

{% if offline_mode %}
    <h2>Offline (No map provided)</h2>
{% else %}
    <div id="map"></div>

    {% include "activitydb/site_profile_map.html" %}

    <script>
        function ZoomToCountry(region){
            if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([9,-60], 4);
            }else if(region == "East Asia"){
                map.setView([30,96], 4);
            }else if(region == "Central & South Asia"){
                map.setView([30,80], 4);
            }else if(region == "East & Southern Africa"){
                map.setView([10,10], 4);
            }else if(region == "West & Central Africa"){
                map.setView([10,10], 4);
            }else if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([30,20], 4);
            }else if(region == "Middle East"){
                map.setView([30,20], 4);
            }else if(region == "1"){
                map.setView([10,-10], 2);
            };
        }
    </script>
{% endif %}

 <!-- Display site profiles & projects -->
<table class="table table-striped">
    <tr>
        <th>Date Created</th>
        <th>Profile Name</th>
        <th>Profile Type</th>
        <th>Province</th>
        <th>District</th>
        <th>&nbsp;</th>
    </tr>
    {% if getSiteProfile %}
      {% for item in getSiteProfile %}
    <tr>
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.create_date|date:"d-m-Y" }} </a></td>
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.name }}</a></td>
        <td><a href="/activitydb/siteprofile_update/{{ item.id }}">{{ item.type }}</a></td>
        <td>{{ item.province }}</td>
        <td>{{ item.district }}</td>
        <td><a onclick="loadCollected({{ item.id }}, {{ program_id }})" class="btn btn-xs btn-success" data-toggle="collapse" data-target="#hidden-{{ item.id }}">Projects {{ item.data_count }} </a><a href="/activitydb/siteprofile_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Site Profile</a></td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="hidden-{{ item.id }}" class="accordian-body collapse">
                <table class="table table-bordered">
                    <tr>

                        <th>Program</th>
                        <th>Project Name</th>
                        <th>Project Activity</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                        {% if collecteddata %}
                            {% for item in collecteddata %}
                    <tr>
                        <td><a href="/indicators/collecteddata_update/{{ item.id }}">{{ item.date_collected|date:"m-d-Y" }}</a></td>
                        <td>{% if item.evidence %} {{ item.evidence }} {%endif%} {% if item.tola_table %} <a href="{{ item.tola_table.url }}">{{ item.tola_table }}</a> {% endif %}</td>
                        <td>{{ item.targeted }}</td>

                        <td>{{ item.achieved }}</td>
                        <td><a href="/indicators/collecteddata_update/{{ item.id }}" class="btn-xs btn-info">Edit</a><a href="/indicators/collecteddata_delete/{{ item.id }}" class="btn-xs btn-danger">Delete</a></td>
                    </tr>
                            {% endfor %}
                        {% else %}
                    <tr>
                        <td colspan="6">No Projects on this Site</td>

                    </tr>
                        {% endif %}
                </table>
            </div>
        </td>
    </tr>
      {% endfor %}
    {% else %}
    <tr>
        <td colspan="6">No Site Profiles yet.</td>
    </tr>
    {% endif %}

</table>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock content %}
