{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/activitydb/dashboard/0/">Program Dashboards</a></li>
  <li class="active">Stakeholder List</li>
</ol>
{% endblock %}
{% block page_title %}Stakeholder List{% endblock %}

{% block content %}
<div>
<a href="/activitydb/stakeholder_add/0/" class="btn btn-large btn-success">New Stakeholder</a> &nbsp;
<hr/>
<br/>
</div>
<h3>Stakeholder</h3>
<ul class="list-group">
{% for item in getStakeholders %}
    <li class="list-group-item"><b><a href="/activitydb/stakeholder_update/{{ item.id }}">{{ item.create_date|date }} - {{ item.name }}</a></b> &nbsp;<a href="/activitydb/stakeholder_delete/{{ item.id }}" class="btn-xs btn-danger">Delete Stakeholder</a></li>
{% empty %}
    <li class="list-group-item">No data yet.</li>
{% endfor %}
</ul>
{% endblock content %}