{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-page">
        <img src="{{ STATIC_URL }}v2-assets/src/img/t-shape-colors.svg" alt="" class="mx-auto login__logo">
        <h3 class="text-center">Login to TolaData</h3>
        <p class="text-center text--gray text--light">Enter your details below.</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="tola-form">
            {{ form.as_p }}
              <input type="hidden" name="next" value="{{ next }}" class="form-control" id="username"/>
              <div class="text-center">
                  <input type="submit" value="Login"class="btn btn-primary">
              </div>
          </div>
            <p class="text-center login-page__or-seperator__wrap"> <span class="login-page__or-seperator">or</span></p>
            <div class="social-buttons row">
                <div class="col-md-6">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block  btn-social btn-social--google"><i class="icon-google"></i>Login with Google</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'social:begin' 'microsoft-graph' %}" class="btn btn-social btn-social--microsoft"><i class="icon-microsoft"></i>Login with Microsoft</a>
                </div>
            </div>
          <p class="mt-4 text-center">
              Don't have an account? <a href="{% url 'register' %}">Register a new TolaData Account</a><br/>
          </p>
        </form>
        <p class="mt-4 text-center">
          <a href="#" data-toggle="modal" data-target="#exampleModal">Register Your Organization with TolaData</a>
        </p>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Your Organization with TolaData</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <script type="text/javascript">(function a(d, w, u) {var h = d.getElementsByTagName("head")[0];var s = d.createElement("script");s.type = "text/javascript";s.src = "https://portal.form.io/lib/seamless/seamless.parent.min.js";s.onload = function b() {var f = d.getElementById("formio-form-5a1ed777a1089400018eabae");if (!f || (typeof w.seamless === u)) {return setTimeout(b, 100);}w.seamless(f, {fallback:false}).receive(function(d, e) {});};h.appendChild(s);})(document, window);</script><iframe id="formio-form-5a1ed777a1089400018eabae" style="width:100%;border:none;" height="600px" src="https://formview.io/#/zkhfgxnjoriblfv/neworg?iframe=1&amp;header=0"></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
