{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Create an account</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}


            <form action="" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ userform|crispy }}
                {{ tolaform|crispy }}
                <div id="iframe">
                    <h6>Notice/Disclaimer:</h6>
                    <p>
                    {{ privacy }}
                    </p>
                </div>
                <br/>
                <div>
                    <input type="submit" value="Create the account">
                </div>
            </form>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Already have an account?</div>
                <div class="panel-body">
                    <input type="button" onclick="location.href='/login'" name="login" value="login">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}