*.log
*.pot
*.pyc
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Testing noise
test/js/*.jar
test/js/chromedriver
test/js/config.json
test/js/errorShots
test/js/geckodriver
test/js/package-lock.json
test/js/node_modules/
test/js/doc/
test/js/logs/
test/js/allure-results

#allvritualenv
venv/
venv-ta/

conf
conf/awstats.conf

#Misc.
.idea/
.DS_Store
media/
client_secrets.json
tola/settings/local_secret.py
*.crt
*.key
error.log
*.secret
*.secret.yml
assets/
local.py
templates/links.html
