*.log
*.pot
*.pyc
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

#allvritualenv
venv/
venv-ta/

docs/api/conf/config.json
docs/api/conf/config.json/awstats.conf

#Misc.
.idea/
.DS_Store
media/
client_secrets.json
*.crt
*.key
error.log
*.secret
*.secret.yml
assets/
src/

docker-compose.yml
local_secret.py
