*.log
*.pot
*.pyc
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Testing noise
chromedriver
geckodriver
errorShots
*.jar
config.json
test/js/node_modules/
test/js/doc/
test/js/logs/

#allvritualenv
venv/
venv-ta/

conf
conf/awstats.conf

#Misc.
.idea/
.DS_Store
media/
client_secrets.json
*.crt
*.key
error.log
*.secret
*.secret.yml
assets/
local.py
templates/links.html
