Django==1.11.3
django-crispy-forms==1.6.1
django-extensions==1.7.9
django-mathfilters==0.4.0
django-registration==2.2
djangorestframework==3.6.3
django-filter==1.0.4
httplib2==0.10.3
python-dateutil==2.6.0
requests==2.18.1
django-ckeditor==5.2.2
django-wysiwyg==0.8.0
-e git://github.com/toladata/social-core#egg=social-core
social-auth-app-django==1.2.0
simplejson==3.11.1
pytz==2017.2
psycopg2>=2.7,<=2.8
django-guardian==1.4.9
django-cors-headers==2.1.0
gunicorn==19.7.1
-r requirements-pkg.txt
