{% extends "publicdashboards.html" %}
{% load humanize %}
{% block content %}

<!--- Hosted Leaflet CSS --->
<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css">
<link rel="borders" type="application/json" href="js/world_borders.geojson">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}publicdashboard/css/main.css">

<script src="{{ STATIC_URL }}publicdashboard/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="{{ STATIC_URL }}publicdashboard/js/vendor/leaflet.js"></script>
<script src="{{ STATIC_URL }}publicdashboard/js/leaflet-google.js"></script>
<script src="{{ STATIC_URL }}publicdashboard/js/leaflet-providers.js"></script>
<script src="{{ STATIC_URL }}publicdashboard/js/jquery-1.11.3.js"></script>
<script src="{{ STATIC_URL }}publicdashboard/js/vendor/Chart.min.js"></script>

<div class="wrapper">
    <style>
    .legend label,
    .legend span {
      display:block;
      float:left;
      height:15px;
      width:20%;
      text-align:center;
      font-size:9px;
      color:#808080;
      }
    </style>

<!-- Set the display of this container to none so we can
     add it programmatically to `legendControl` -->
<div id='legend' style='display:none;'>
  <strong>The Title or Explanation of your Map</strong>
  <nav class='legend clearfix'>
    <span style='background:#F1EEF6;'></span>
    <span style='background:#BDC9E1;'></span>
    <span style='background:#74A9CF;'></span>
    <span style='background:#2B8CBE;'></span>
    <span style='background:#045A8D;'></span>
    <label>0 - 20%</label>
    <label>40%</label>
    <label>60%</label>
    <label>80%</label>
    <label>100%</label>
    <small>Source: <a href="#link to source">Name of source</a></small>
  </nav>
</div>
    <h3>{% if getProgram %}{{ getProgram.name }}{% endif %}</h3>
    <div class="widget">
        <div id="map"></div>
        <script>
  var map = L.mapbox.map('map');
  map.legendControl
    .addLegend(document.getElementById('legend').innerHTML)
    .setPosition('topright');
</script>
        <script>
            var country=[],country_lat=[],country_long=[];

            //read country GPS data into arrays
            {% for item in countries %}
                country[{{forloop.counter}}] = "{{ item.country }}";
                country_lat[{{forloop.counter}}] = "{{ item.latitude }}";
                country_long[{{forloop.counter}}] = "{{ item.longitude }}";
            {% endfor %}

             //overlay groups
            var projects = new L.LayerGroup(), indicators = new L.LayerGroup(), VTC = new L.LayerGroup(), partners = new L.LayerGroup();

            //define icons for overlay markers
            var projectIcon = L.divIcon({
              className: 'map-marker',
              html:'<div class="map-marker project"></div>',
              iconSize: [50,50]
            });
            var indicatorIcon = L.divIcon({
              className: 'map-marker',
              html:'<div class="map-marker indicator"></div>',
              iconSize: [50,50]
            });
            var VTCIcon = L.divIcon({
              className: 'map-marker',
              html:'<div class="map-marker project"></div>',
              iconSize: [50,50]
            });
            var partnerIcon = L.divIcon({
              className: 'map-marker',
              html:'<div class="map-marker project"></div>',
              iconSize: [50,50]
            });

            //partner markers
            {% for item in getSiteProfile %}
                L.marker([{{ item.latitude }}, {{ item.longitude }}], {icon: projectIcon})
                    .addTo(partners)
                    .bindPopup("" + "<b>{{ item.country }}</b>
                                <br/>Project Site:
                                <br/><a href='/activitydb/siteprofile_update/{{ item.id }}'>{{ item.name }}</a>
                                <br/>Province: {{ item.province }}
                                <br/>District: {{ item.district }}
                                <br/>Village: {{ item.village }}
                                <br/>SiteProfile{{ item.name }}
                                <br/> "
                               );
            {% endfor %}

            {% if getSiteProfileIndicator %}
                //indicator markers
                {% for item in getSiteProfileIndicator %}
                    L.marker([{{ item.latitude }}, {{ item.longitude }}], {icon: indicatorIcon})
                            .addTo(indicators)
                            .bindPopup("" + "<b>{{ item.country }}</b>
                                        <br/>Collected Indicator Data Site:
                                        <br/><a href='/activitydb/siteprofile_update/{{ item.id }}'>{{ item.name }}</a>
                                        <br/>Province: {{ item.province }}
                                        <br/>District: {{ item.district }}
                                        <br/> Village: {{ item.village }}
                                        <br/> SiteProfile{{ item.name }}
                                        <br/> "
                                       );
                {% endfor %}
            {% endif %}

            var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',

            //basemaps from mapbox URL and leaflet-providers.js
            mbUrl = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png';
            var baseMap = L.tileLayer.provider('OpenStreetMap.Mapnik');

            var baseMap = L.tileLayer.provider('OpenStreetMap.Mapnik'),
                grayscale = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
                opentopomap = L.tileLayer.provider('OpenTopoMap');


            var map = L.map('map',
                       {
                        center: [country_lat[1], country_long[1]],
                        zoom: 5,
                        //preselected layers
                        layers: [baseMap, projects, indicators]
                        });

            var baseLayers = {"OpenStreet": baseMap,
                              "GrayScale": grayscale,
                              "Topography": opentopomap,

                              };
            var overlays = {"INVEST-in-Khandahar": projects,"Khandahar VTC Locations": VTC,
                            "Collected Indicator Sites": indicators,"INVEST Partner Locations": partners,};

            L.control.layers(baseLayers, overlays).addTo(map);

            //invest_khandahar.geoJSON data (from http://earthquake.usgs.gov) - TODO - prepare INVEST-in-Khandahar geoJSON
           function addDataToMap(data, map){
               var dataLayer = L.geoJson(data, {onEachFeature: function(feature, layer) {
               var popupText = "Magnitude: " + feature.properties.mag + "<br>Location: " + feature.properties.place + "<br><a href='" + feature.properties.url + "'>More info</a>";
               layer.bindPopup(popupText); }});
               dataLayer.addTo(projects);
            }
            $.getJSON("{{ STATIC_URL }}publicdashboard/js/invest_khandahar.geojson", function(data){ addDataToMap(data, map); });

            //narrative placeholders
            var investNarrative = L.control({position: 'bottomleft'});
            var kandharNarrative = L.control({position: 'bottomleft'});

            investNarrative.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info narrative');
                div.innerHTML +=
                'Kandahar Province is at the center of Afghanistan’s IDP crisis. <br/>Nearly 90,000 people are currently displaced in the province <br/>due to conflict and drought.';
            return div;
                };
            kandharNarrative.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info narrative');
                div.innerHTML += "INVEST-in-Kandahar is a 36-month long skills<br/> development program designed to facilitate <br/>the reintegration of Afghan youth, women and <br/>internally displaced people (IDP) into communities <br/>by expanding their opportunities through enhanced<br/>vocational and life skills. INVEST seeks to address<br/> the longer-term needs identified by IDPs <br/>by providing vocational training linked to economic <br/>opportunities within the locale, and by delivering <br/>life skills modules to further support graduates and <br/>aid repatriation to home provinces. The program will <br/>deliver market-specific vocational and life skills <br/>training to 7,500 vulnerable individuals in Kandahar, <br/>Afghanistan by 2017.";
                return div;
            };
            kandharNarrative.addTo(map);
            map.on('overlayadd', function (eventLayer) {
                if (eventLayer.name === 'Khandahar VTC Locations') {
                    this.removeControl(kandharNarrative);
                    investNarrative.addTo(this);
                }
            });
            map.on('overlayremove', function (eventLayer) {
                if (eventLayer.name === 'Khandahar VTC Locations') {
                    this.removeControl(investNarrative);
                    kandharNarrative.addTo(this);
                }
            });
            map.on('overlayremove', function (eventLayer) {
                if (eventLayer.name === 'INVEST-in-Khandahar') {
                    this.removeControl(investNarrative);
                    kandharNarrative.addTo(this);
                }
            });
        </script>
    </div>

    <div class="col-md-12">
        <div class="row tools">
            <h3>Project Status and Key Performance Indicators</h3>

            <div class="list-group col-md-6">

                                    <h4>What is the current project status? </h4>

                                    Number of Agreements : <b>{{ getProjectsCount }}</b><br>

                                   <h4>
                                       <span class="label label-success">Approved &nbsp;<span class="badge">0</span></span>
                                       <span class="label label-success">Awaiting Approval &nbsp;<span class="badge">0</span></span>
                                       <span class="label label-success">In Progress &nbsp;<span class="badge">0</span></span>
                                       <span class="label label-success">Rejected &nbsp;<span class="badge">0</span></span>

                                      </a>
                                    </h4>

                      </div>
                      <div class="list-group  col-md-6">
                          <div class="panel-heading home-paneltitle">
                          <table class="table table-striped">
                                  <tr>
                                      <td colspan="5"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#summary" href="#collapse2"><b><span class="glyphicon glyphicon-plus-sign"></span></b>
                                          At what stages are these project agreements at?</a></h4></td>
                                  </tr>
                                  <tr>
                                      <td colspan="5">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#summary" href="#collapse1">
                                            <b><span class="glyphicon glyphicon-plus-sign"></span></b> Key Performance Indicators (KPIs) </a>
                                         </h4>
                                      </td>
                                  </tr>

                          </table>
                          </div>
                      </div>
            </div>
                <div class="panel-group" id="summary">
                        <div class="panel home-panel">
                          <div id="collapse2" class="panel-collapse collapse">
                              <table class="table table-striped">
                                  <tr>
                                      <td colspan="5"><b>Summary of project agreements for - {% if getProgram %}{{ getProgram.name }}{% endif %}</b></td>
                                  </tr>
                                  <tr>
                                      <th>Agreement#</th>
                                      <th>Title</th>
                                      <th>Status</th>
                                      <th>Date</th>
                                      <th>AAM</th>
                                  </tr>
                                  {% for item in recent_tickets %}
                                  <tr>
                                      <td>{% if item.status == 1 %} Open {%elif item.status == 2%}Re-Opened{% elif item.status == 3%}Resolved{% elif item.status == 4%}Closed{% elif item.status == 5%}Duplicate{% endif %}</td>
                                      <td>{{ item.queue }}</td>
                                      <td><a href="/helpdesk/tickets/{{ item.id }}/">{{ item.title }}</a></td>
                                      <td>{{ item.created }}</td>
                                      <td>{{ item.created }}</td>
                                  </tr>
                                  {% endfor %}
                              </table>
                              <div class="container clearfix">
                                  <div class="third widget doughnut">
                                      <h4>

                                          Project Status
                                      </h4>
                                        <div id="status-legend" class="chart-legend"></div>
                                      <div class="canvas-container-fixed">
                                          <canvas id="status"></canvas>
                                      </div>
                                      <b>Total number of Projects:</b> ( {{ total_projects }} )
                                  </div>
                                  <div class="third widget line">
                                    <div class="chart-legend">
                                        <h4>Program Expenditure</h4>
                                        <div class="canvas-container-fixed">
                                            <canvas id="expenditure_canvas"></canvas>
                                        </div>
                                        <div id="exp-legend"></div>
                                    </div>
                                  </div>
                                  <div class="third widget">
                                      <div class="chart-legend">
                                          <h4>Survey Responses</h4>
                                          <span>How do you rate our program team ?</span>
                                      </div>
                                      <div class="canvas-container-fixed">
                                          <canvas id="surveys"></canvas>
                                      </div>
                                  </div>
                            </div>

                          </div><!-- end of collapse2 -->
                    </div>
                    <div class="panel home-panel">
                      <div id="collapse1" class="panel-collapse collapse">
                          <div class="container clearfix widget">

                                    <div class="chart-legend">
                                        <h4>Key Performance Indicators (KPIs)</h4>
                                        <div id="kpi-legend"></div>
                                        <p><span>Targets</span> Vs <strong>Actuals</strong></p>
                                        {% if getProgram %}{{ getProgram.name }}{% endif %}
                                    </div>
                                    <div class="canvas-container">
                                        <canvas id="kpi"></canvas>
                                    </div>

                          </div>
                      </div>
                    </div>

              </div>
            <div class="push"></div>
        </div>
        <script src="{{ STATIC_URL }}publicdashboard/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="{{ STATIC_URL }}publicdashboard/js/plugins.js"></script>
        <script>

//render project_status in a doughnut chart
var status_options = {

    // single tooltip
    tooltipTemplate: "<%=label + ' Projects' %>",
};
var status_data = [
    {
    value: {{ approved }},
    color:"#637b85",
    label: "Approved - {{ approved }}"
    },
    {
    value : {{ awaiting }},
    color : "#2c9c69",
    label: "Waiting - {{ awaiting }}"
    },
    {
    value : {{ rejected }},
    color : "#dbba34",
    label: "Rejected - {{ rejected }}"
    },
    {
    value : {{ in_progress }},
    color : "#c62f29",
    label: "In Progress - {{ in_progress }}"
    }
];
var ctx = document.getElementById("status").getContext("2d");
var statusChart = new Chart(ctx).Doughnut(status_data,status_options);
document.getElementById('status-legend').innerHTML = statusChart.generateLegend();

//KPI JSON data object
var kpi_options = {
    maintainAspectRatio: false,
    responsive: true,
    scaleOverlay : false,

    scaleSteps : 10,
    scaleStepWidth : 10,
    scaleStartValue : 0,
    scaleLineColor : "rgba(0,0,0,.25)",
    scaleLineWidth : 1,
    scaleShowLabels : true,
    scaleLabel : "<%=value%>",
    scaleFontFamily : "'Lato'",
    scaleFontSize : 12,
    scaleFontStyle : "800",
    scaleFontColor : "#222",
    scaleShowGridLines : true,
    scaleGridLineColor : "rgba(0,0,0,.1)",
    scaleGridLineWidth : 1,
    bezierCurve : true,
    pointDot : true,
    pointDotRadius : 5,
    pointDotStrokeWidth : 1,
    datasetStroke : true,
    datasetStrokeWidth : 1,
    datasetFill : true,
    animation : true,
    animationSteps : 120,
    animationEasing : "easeOutQuart",
    onAnimationComplete : null,
};
var kpi_data = {
    labels : [{% for program in getQuantitativeDataSums %} "{{ program.indicator__number }}", {% endfor %}],
    datasets : [
        {
            label: "KPI Targets",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [{% for program in getQuantitativeDataSums %} "{{ program.targets }}", {% endfor %}],
            //data : [65,59,90,41,56,55,40]
        },
        {
            label: "KPI Actuals",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [{% for program in getQuantitativeDataSums %} "{{ program.actuals }}", {% endfor %}],
            //data : [28,48,40,19,96,27,100]
        }
    ]
}
//retrieve kpi_canvas, pass the kpi_JSON into a Line_chart
var ctx = document.getElementById("kpi").getContext("2d");
var kpiChart = new Chart(ctx).Bar(kpi_data, kpi_options);
document.getElementById('kpi-legend').innerHTML = kpiChart.generateLegend();

//render program_expenditure on bar_chart
    var expenditure_options = {
        maintainAspectRatio: false,
        responsive: true,
        scaleOverlay : false,
        scaleSteps : 10,
        scaleStepWidth : 10,
        scaleStartValue : 0,
        scaleLineColor : "rgba(0,0,0,.25)",
        scaleLineWidth : 1,
        scaleShowLabels : true,
        scaleLabel : "<%=value%>",
        scaleFontFamily : "'Lato'",
        scaleFontSize : 12,
        scaleFontStyle : "800",
        scaleFontColor : "#222",
        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.1)",
        scaleGridLineWidth : 1,
        bezierCurve : true,
        pointDot : true,
        pointDotRadius : 5,
        pointDotStrokeWidth : 1,
        datasetStroke : true,
        datasetStrokeWidth : 1,
        datasetFill : true,
        animation : true,
        animationSteps : 120,
        animationEasing : "easeOutQuart",
        onAnimationComplete : null,
        //tooltip
        multiTooltipTemplate: "<%= value + ' USD' %>",
    };
    var expenditure_data = {
        labels: [{% for project in getProjects %} {{ project.id }},{% endfor %}],
        datasets: [
            {
                label: "Budgeted",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data : [{% for project in getProjects %} {{ project.actual_budget }},{% endfor %}]
            },
            {
                label: "Actuals",
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data : [{% for project in getProjects %} {{ project.total_cost }},{% endfor %}]
            }
        ]
    };
    //retrieve expenditure_canvas, pass the expenditure_JSON into a bar_chart
    var ctx = document.getElementById("expenditure_canvas").getContext("2d");
    var expChart = new Chart(ctx).Bar(expenditure_data,expenditure_options);
    document.getElementById('exp-legend').innerHTML = expChart.generateLegend();

    //render survey_responses on radar_chart
    var survey_data = {
        //labels : [{% for program in getQuantitativeDataSums_2 %} "{{ program.indicator__source }}", {% endfor %}],
        labels : ["Helpful","Friendly","Kind","Rude","Slow","Frustrating"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "#637b85",
                pointColor : "#dbba34",
                pointStrokeColor : "#637b85",
                //data : [{% for project in getProjects %} {{ project.mc_estimated_budget }},{% endfor %}]
                data : [65,59,90,81,30,56]
            }
        ]
    }
    var ctx = document.getElementById("surveys").getContext("2d");
    new Chart(ctx).Radar(survey_data);
</script>

</div>
{% endblock content %}