<div class="sidebar-pane" id="narrative-context">
	<h4 style='text-align: center;'> Project Description</h4>
    <!-- Placeholder text - populate this with input data-->
    <div> According to news, there are around 113 refugees from Syria, Iraq, Afghanistan, Iran, Pakistan, and Bangladesh (including families and children) who wanted to go to Italy from Turkey but have been caught in a Greece Island (Crete) from last several days. The migrants said they had set off from Antalya on Turkey's southwestern coast, some 260 nautical miles away, police and coastguard officials said. </div>
    <a href="" style='float:right;'> Read More</a>
</div>