<div class="sidebar-pane" id="narrative-objectives">
    <h5 style='text-align: center;'>LATEST NEWS</h5>
    <div class="panel-body"> <a href="" style='float:left; color: black;'> Article 1 </a> </div>
    <div class="panel-body"> <a href="" style='float:left; color: black;'> Article 2 </a> </div>
    <div class="panel-body"> <a href="" style='float:left; color: black;'> Article 3 </a> </div>
    <div class="panel-body"> <a href="" style='float:left; color: black;'> Article 4 </a> </div>
    <div class="panel-body"> <a href="" style='float:left; color: black;'> Article 5 </a> </div>
    <div class="panel-body"> <a href="#myModal" style='float:right;' data-toggle="modal">More News Items</a> </div>
</div>

							<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">LATEST NEWS</h4>
		      </div>
		      <div class="modal-body" style='overflow-x: scroll;'>
		      		<!--populates news items from the feed within a certain date range?  -->
		      		text just to show modal is working
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Close News</button>
		      </div>
		    </div>
		  </div>
		</div>

