{% extends "base.html" %}
{% block bread_crumb %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/workflow/dashboard/0/">Program Index</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/workflow/stakeholder_list/0/0/">Stakeholder List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contact List</li>
    </ol>
</nav>

{% endblock %}
{% block page_title %}Contact List{% endblock %}

{% block content %}
<div>
    <a href="/workflow/contact_add/{{getStakeholder.pk}}/0/" class="btn btn-sm btn-success">New Contact</a>
</div>
<hr>

{% if getStakeholder %}
    <p>Filtered by Stakeholder: [{{ getStakeholder.name }}]</p>
{% endif %}

<ul class="list-group list-group-flush">
{% for item in getContacts %}
    {% if item.contact %}
        <li class="list-group-item">
            <a href="/workflow/contact_update/{{getStakeholder.pk}}/{{ item.contact.id }}">
                {{ item.contact.create_date|date:"M d, Y"|default:'' }} &nbsp; - &nbsp; {{ item.contact.name }}
            </a> &nbsp;&nbsp;
            <a href="/workflow/contact_delete/{{ item.contact.id }}" class="btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <a href="/workflow/contact_update/{{ item.id }}">
                {{ item.create_date|date }}&nbsp; - &nbsp; {{ item.name }}
            </a> &nbsp;&nbsp;
            <a href="/workflow/contact_delete/{{ item.id }}" class="btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
        </li>
    {% endif %}
{% empty %}
        <li class="list-group-item">No contacts yet.</li>
{% endfor %}
</ul>
{% endblock content %}
