<div class="btn-group" role="group">
    <button class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            id="programDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Programs
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="programDropdown">
        <a class="dropdown-item" href="#" onclick="program_filter(0)">-- All --</a>
        {% for program in getPrograms %}
            <a class="dropdown-item"
                href="#"
                onclick="program_filter({{program.id}})">
                {{ program.name }}</a>
        {% endfor %}
    </div>
</div>

<div class="btn-group" role="group">
    <button class="btn btn-secondary btn-sm mr-1 dropdown-toggle"
            type="button"
            id="projectDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Project Status
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="projectDropdown">
        <a class="dropdown-item" href="/workflow/dashboard/0">-- All --</a></li>
        {% for status in APPROVALS %}
            <a class="dropdown-item"
                tabindex="-1"
                onclick="status_filter('{{status.0}}')">
                {{ status.1 }}
            </a>
        {% endfor %}
    </ul>
</div>
