<tr>
    <td>{{ item.create_date|date:"d-m-Y" }}</td>
    <td> {{ item.project_name }} <br/>
        {% if item.approval == "approved" %}
          <a href="#" class="badge badge-secondary"><i class="fas fa-lock"></i> Initiation Form</a>
        {% else %}
          <a class="badge badge-secondary" href="/workflow/projectagreement_update/{{ item.id }}">Initiation Form</a>
        {% endif%}
        {% if item.projectcomplete %}
          <a class="badge badge-secondary" href="/workflow/projectcomplete_update/{{ item.projectcomplete.id }}">Tracking Form</a>
        {% else %}
            <a href="#" class="badge badge-secondary"><i class="fas fa-lock"></i> Tracking Form</a>
        {% endif%}
        <a class="badge badge-secondary" href="/workflow/projectagreement_detail/{{ item.id }}">Print View</a>
    </td>
    <td>{{ item.activity_code }}</td>
    <td>{{ item.office }} </td>
    <td>{% if item.short %} Short {% else %} Long {% endif %}</td>
    <td>{% if item.projectcomplete %} Tracking {% if item.projectcomplete.approval  %}{{ item.projectcomplete.approval|capfirst }}{% else %}Open{% endif %}{% else %} Initiation {% if item.approval  %}{{ item.approval|capfirst }}{% else %} Open {% endif %} {% endif %}</td>
    <td>
        <a href="/workflow/dashboard/project/{{ item.id }}" class="btn btn-sm btn-secondary"><i class="fas fa-chart-line"></i></a>
    </td>
</tr>
