{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">{{ WORKFLOWLEVEL1 }} Index</a></li>
  <li class="active">{{ WORKFLOWLEVEL2 }} Dashboard</li>
</ol>
</div>
{% endblock %}

{% block page_title %}{{ WORKFLOWLEVEL2 }} Dashboard{% endblock %}

{% block content %}
{% if project_id == 0 %}

    <div class="jumbotron">
        <p>Name your new {{ WORKFLOWLEVEL2 }} and associate it with a {{ WORKFLOWLEVEL1 }}</p>
        <form role="form" class="form-inline" action="/workflow/projectagreement_add/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="program">{{ WORKFLOWLEVEL1 }}:</label>
                <select class="form-control" id="workflowlevel1" name="workflowlevel1" required="">
                    {% for item in getworkflowlevel1s %}
                        <option value="{{ item.id }} ">{{ item.name|truncatechars:50 }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label for="name">{{ WORKFLOWLEVEL2 }} Name:</label>
                <input type="text" name="name" required="" id="id_name" class="textinput textInput form-control" maxlength="255">
            </div>
            <div class="form-group">
                <label for="detailed">Short Form (recommended):</label>
                <input type="checkbox" name="short" id="id_short" checked="checked" onchange="confirmshort();"> Yes
            </div>
            <br/>
            <br/>
            <div class="form-group">
              <input type="hidden" name="parent_workflowlevel2" id="id_parent_workflowlevel2" value="0">
              <input type="hidden" name="sort" id="sort" value="0">
              <input type="hidden" name="status" id="status" value="open">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

{% else %}
    <br/>
    <ul class="list-group">
    <h3>{{ getworkflowlevel1.name|truncatechars:70 }}<span style="float: right;"><a href="/workflow/projectagreement_detail/{{ getAgreement.id }}/" class="btn btn-sm btn-info">Print View</a></span></h3>
        {% if getAgreement %}
        <div class="jumbotron">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h4>{{ WORKFLOWLEVEL2}}</h4>
                    <span></span>
                </li>

                <li class="list-group-item"><b>Name: </b>{{ getAgreement.name }}<br/>
                    <b>Created:</b> <span class="date-badge">{{ getAgreement.create_date|date }}</span> <b>Edited:</b> <span class="date-badge">{{ getAgreement.edit_date|date }}</span>
                </li>
                <li class="list-group-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <button data-toggle="tooltip" data-placement="top"  type="button" class="btn btn-sm btn-info" onclick="location.href='/workflow/projectagreement_update/{{ getAgreement.id }}'">View {{ WORKFLOWLEVEL2 }}</button>
                        <button data-toggle="tooltip" data-placement="top"  type="button" class="btn btn-sm btn-warning">Delete {{ WORKFLOWLEVEL2 }}</button>
                    </div>
                </li>
                <li class="list-group-item">
                    {% if getAgreement.progress == "approved" %}
                        <button class="btn btn-success" type="button">
                          {{ getAgreement.get_progress_display }}
                        </button>
                    {% else %}
                        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/projectagreement_update/{{ getAgreement.id }}'">
                        {% if getAgreement.progress %}
                            {{ getAgreement.get_progress_display }}
                        {% else %}
                            Open
                        {% endif %}
                        </button>
                    {% endif %}
                 </li>
            </ul>
        {% endif %}
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/documentation_list/0/{{ getAgreement.id }}'">
            Documents <span class="badge">{{ getDocumentCount }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/siteprofile_list/0/{{ getAgreement.id }}'">
            Sites <span class="badge">{{ getCommunityCount }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/formlibrary/training_list/{{ getAgreement.id }}'">
            Training <span class="badge">{{ getTrainingCount }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/formlibrary/distribution_list/{{ getworkflowlevel1.id }}'">
            Distributions <span class="badge">{{ getDistributionCount }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/stakeholder_list/0/{{ getAgreement.id }}'">
            Stakeholders <span class="badge">{{ getStakeholderCount }}</span>
        </button>
        </div>
    </ul>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}
