{% extends "base.html" %}
{% load i18n %}
{% load group_tag %}
{% block bread_crumb %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/workflow/dashboard/0/">Program Index</a>
        </li>
        {%  if project_agreement_id != 0 %}
            <li class="breadcrumb-item"><a href="/workflow/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Site Profiles</li>
    </ol>
</nav>

{% endblock %}

{% block page_title %}Site Profile List{% endblock %}

{% block content %}

<div class="btn-group" role="group">
    <button class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            id="programDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Programs
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="programDropdown">
        <a class="dropdown-item" href="/workflow/siteprofile_list/0/0">-- All --</a>
        {% for program in getPrograms %}
            <a class="dropdown-item"
                href="/workflow/siteprofile_list/{{ program.id }}/0/">
                {{ program.gaitid}} - {{ program.name }}</a>
        {% endfor %}
    </div>
</div>
<a href="/workflow/siteprofile_add" class="btn btn-sm btn-success">New Site Profile</a>

<br><br>
<style>
    #map { height: 480px; }
</style>
{% load crispy_forms_tags %}
{% crispy form form.helper %}
<h4>Site Profile Map and List</h4>

{% if offline_mode %}
    <h2>Offline (No map provided)</h2>
{% else %}
    <div id="map"></div>

    {% include "workflow/site_profile_map.html" %}

    <script>
        function ZoomToCountry(region){
            if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([9,-60], 4);
            }else if(region == "East Asia"){
                map.setView([30,96], 4);
            }else if(region == "Central & South Asia"){
                map.setView([30,80], 4);
            }else if(region == "East & Southern Africa"){
                map.setView([10,10], 4);
            }else if(region == "West & Central Africa"){
                map.setView([10,10], 4);
            }else if(region == "Latin America, Caribbean, Balkans, Caucasus"){
                map.setView([30,20], 4);
            }else if(region == "Middle East"){
                map.setView([30,20], 4);
            }else if(region == "1"){
                map.setView([10,-10], 2);
            };
        }
    </script>
{% endif %}

 <!-- Display site profiles & projects -->
<table class="table table-sm table-hover table-striped">
    <tr>
        <th>Date Created</th>
        <th>Profile Name</th>
        <th>Status</th>
        <th>Profile Type</th>
        <th>Province</th>
        <th>District</th>
        <th style="width:110px;">&nbsp;</th>
    </tr>
    {% if getSiteProfile %}
        {% for item in getSiteProfile %}
            <tr>
                <td>
                    <a href="/workflow/siteprofile_update/{{ item.id }}">{{ item.create_date|date:"M d, Y"|default:'' }}</a>
                </td>
                <td><a href="/workflow/siteprofile_update/{{ item.id }}">{{ item.name }}</a></td>
                {% if item.status == 1 %}
                    <td>
                        <a href="/workflow/siteprofile_update/{{ item.id }}">
                            <span class="badge badge-secondary">Active</span>
                        </a>
                    </td>
                {%else%}
                <td><a href="/workflow/siteprofile_update/{{ item.id }}"><span class="badge">Inactive</span></a></td>
                {%endif%}
                <td><a href="/workflow/siteprofile_update/{{ item.id }}">{{ item.type }}</a></td>
                <td>{{ item.province }}</td>
                <td>{{ item.district }}</td>
                <td>
                    <a href="/workflow/siteprofile_delete/{{ item.id }}"
                        class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i>
                    </a>
                    <a href="/workflow/site_indicatordata/{{item.id}}/"
                        class="btn btn-sm btn-info"><i class="fas fa-database"></i>
                    </a>
                    <a href="/workflow/site_projectscomplete/{{item.id}}/"
                        class="btn btn-sm btn-dark"><i class="fas fa-tasks"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="7">No Site Profiles yet.</td>
    </tr>
    {% endif %}
</table>

<!-- paginate site profile listing -->
 <div class="row">
    <div class="col-md-8">
        <ul class="paginate">
            {% if getSiteProfile.has_previous %}
                <li>
                    <a href="?user_list={{user_list}}&page={{ getSiteProfile.previous_page_number }}">{% trans "Previous" %}</a>
                </li>
                <li>
                    <a href="?user_list={{user_list}}&page={{ getSiteProfile.previous_page_number }}"> {{getSiteProfile.previous_page_number}}</a>
                </li>
            {% endif %}

            {% blocktrans with getSiteProfile.number as site_num and getSiteProfile.paginator.num_pages as num_pages %}
                <li>
                    <a class="active" href="">{{ site_num }}</a>
                </li>
            {% endblocktrans %}

            {% if getSiteProfile.has_next %}
                <li>
                    <a href="?user_list={{user_list}}&page={{ getSiteProfile.next_page_number }}">
                        {{ getSiteProfile.next_page_number }}</a>
                </li>
                {% ifnotequal getSiteProfile.next_page_number getSiteProfile.paginator.num_pages %}
                    {% with getSiteProfile.paginator.num_pages as num_pages %}
                        <li><a href="">...</a></li>
                        <li><a href="?user_list={{user_list}}&page={{ num_pages }}"> {{ num_pages }}  </a></li>
                    {% endwith %}
                {% endifnotequal %}
                <li>
                    <a href="?user_list={{user_list}}&page={{ getSiteProfile.next_page_number }}">{% trans "Next" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="per_page">
        <ul class="paginate">
            <li><a class="{% if default_list == 5 %}active{% endif %}"
                    href="?user_list=10">5</a>
            </li>
            <li>
                <a class="{% if default_list == 10 %}active{% endif %}"
                    href="?user_list=10">10</a>
            </li>
            <li>
                <a class="{% if default_list == 20 %}active{% endif %}"
                    href="?user_list=20">20 </a>
            </li>
            <li>
                <a class="{% if default_list == 30 %}active{% endif %}"
                    href="?user_list=30" >30</a>
            </li>
            <li><a href="#">per page</a></li>
        </ul>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}
