{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">{{ WORKFLOWLEVEL1 }} Index</a></li>
  <li class="active">{{ WORKFLOWLEVEL2 }}</li>
</ol>
</div>
{% endblock %}
{% block page_title %}{{ WORKFLOWLEVEL2 }} List{% endblock %}

{% block content %}

<div class="dropdown">
    {% include "workflow/filter.html" %}
</div>
<br/>
{% if getProgram %}
<h3>{{getProgram.gaitid }} - {{ getProgram.name }}</h3>
{% endif %}

 <!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>{{ WORKFLOWLEVEL2 }} Name</th>
        <th>Approval Status</th>
        <th>In Dashboard</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDashboard %}
    <tr>
        <td>{% if item.status %}{{ item.create_date}}{% else %}<a href="/workflow/projectagreement_update/{{ item.id }}">{{ item.create_date}}</a>{% endif %}</td>
        <td>{% if item.status %} {{ item.name}}{% else %}<a href="/workflow/projectagreement_update/{{ item.id }}">{{ item.name}}</a>{% endif %}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.dashboard_name }}</td>
        <td>
            <a href="/workflow/dashboard/project/{{ item.id }}" class="btn btn-xs btn-success">{{ WORKFLOWLEVEL2 }} Dashboard</a>
            <a href="/workflow/projectagreement_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Initiation</a>
        </td>
    </tr>
    {% empty %}
        <li class="list-group-item">No {{ WORKFLOWLEVEL2 }}s yet.</li>
    {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<script type="text/javascript">
    function program_filter(program_id) {
      window.location.href = '/workflow/projectagreement_list/'+program_id+'/none';
      }

    function status_filter(status) {
      window.location.href = '/workflow/projectagreement_list/0/'+status;
      }
 </script>
 
{% endblock content %}
