{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">{{ WORKFLOWLEVEL1 }} Index</a></li>
  <li class="active">{{ WORKFLOWLEVEL1 }}</li>
</ol>
</div>
{% endblock %}
{% block page_title %}{{ WORKFLOWLEVEL1 }} List{% endblock %}

{% block content %}

<br/>

 <!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>{{ WORKFLOWLEVEL1 }} Name</th>
        <th>Funding Status</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getworkflowlevel1s %}
    <tr>
        <td>{% if item.status %}{{ item.create_date}}{% else %}<a href="/workflow/workflowlevel1_update/{{ item.id }}">{{ item.create_date}}</a>{% endif %}</td>
        <td>{% if item.status %} {{ item.name}}{% else %}<a href="/workflow/workflowlevel1_update/{{ item.id }}">{{ item.name}}</a>{% endif %}</td>
        <td>{{ item.funding_status }}</td>
        <td>
            <a href="/workflow/workflowlevel1_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete</a>
        </td>
    </tr>
    {% empty %}
        <li class="list-group-item">No {{ WORKFLOWLEVEL1 }}s yet.</li>
    {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
 
{% endblock content %}
