#App Specific CSS
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    height: 100%;
    margin-bottom: 60px;
}
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    border-top: 1px solid #f5f5f5;
    background-color: rgb(215, 215, 215);
    vertical-align: top;
    color: rgb(50, 50, 50);
}


/* Bootstrap Overrides */
@media print {
  a[href]:after {
    content: none;
  }
}

*,
*:focus,
*:target,
a:focus,
input:focus,
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.navbar-tola {
  /* TolaActivity Brand Color: */
  background-color: rgb(232, 148, 36);
  border: none;
}

.navbar-tola .navbar-nav > li > a {
  color: #fff;
}

.navbar-tola .navbar-nav > li > a:hover,
.navbar-tola .navbar-nav > li > a:focus,
.navbar-tola .navbar-nav > li.active > a,
.navbar-tola .navbar-nav > li.active > a:hover,
.navbar-tola .navbar-nav > li.active > a:focus,
.navbar-tola .navbar-nav .dropdown.open a.dropdown-toggle {
  color: #fff;
  background-color: rgba(0, 0, 0, .15);
}

.navbar-tola .navbar-nav .navbar-collapse {
    clear: both;
    float: none;
}
/* - End Bootstrap Overrides */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


body > .container {
    height: 100%;
    margin-top: 40px;
}

.alert{
    margin-top: 40px;
    margin-bottom: -20px;
}

#footer > .container {
    padding: 10px;
}


.btn-frozen {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

.date-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 5px
}

.jumbotron.dashboard {
    padding-top: 5px;
    padding-bottom: 16px;
    margin-bottom: 30px;
}

.btn-group.align-right {
    float: right;
}

.ajaxLoader{
    display: none;
    min-width: 10px;
    padding: 3px 7px;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 2px
}

/*General marker style*/
.map-marker {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: rgb(232, 148, 36);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 2px 1px 1px #888888;
}

.map-marker.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 2px 1px 1px #888888;
}

.map-marker:after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 5px 0 0 5px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.leaflet-div-icon {
  border: 0!important;
  display: none;
}

/* Chart.js legends */

.chart-legend {
  list-style: none;
  position: relative;
  right: 8px;
  top: 0;
}
.chart-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.chart-legend li:hover {
  background-color: #fafafa;
}
.chart-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.chart-title {
  display: block;
  text-align: center;
}

/* Login buttons for Social */
.social-buttons{
    margin:12px;
}
.btn-go{
    color: #fff;
    background-color:#55acee;
    margin:12px 0px 12px 0px;
}
.btn-go:hover{
    color: #fff;
    background-color:#59b5fa;
}

#iframe {
    width: 400px;
    height: 100px;
    overflow: auto;
}

/* paginate */

ul.paginate {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginate li {display: inline;}

ul.paginate li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.paginate li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.paginate li a:hover:not(.active) {background-color: #ddd;}

.per_page
{
    float: right;
    margin-right: 15px;
}