{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_site").select2();
            $("#id_tola_table").select2();
            $("#id_evidence").select2();
            $("#id_agreement").select2();

            $('#tolatablemodal').on('hidden.bs.modal', function (e) {
                var sel = $("#service_table option:selected");
                $("#id_tola_table").append($("<option></option>")
                            .attr("value", sel.val())
                            .text(sel.text()));
            });

            var achieved_formatted_value = parseFloat($("#id_achieved").val()).toFixed(2).replace(/[.,]00$/, "");
            $("#id_achieved").val(achieved_formatted_value);

            $('.datepicker').datepicker({dateFormat: "M d, yy"});
            var id_date_collected = $("#id_date_collected");
            if (id_date_collected.val() != '') {
                id_date_collected.val(formatDate(id_date_collected.val()));
                // validate upon loading modal
                validatePeriodicTarget();
            }
            // target_frequency is defined in the indicator_list.html file
            var target_frequency = parseInt(`{{object.indicator.target_frequency|safe}}`);
            // indicator_id is defined in the indicator_list.html file.
            // indicator_id = `{{indicator.id|safe}}`;
            var ptlen = `{{object.indicator.periodictarget_set.all.count|safe}}`;
            var collectedRecordId = parseInt(`{{object.id|safe}}`);

            // if it is a new record and target_frequency is LOP_ONLY then set periodic_target to LOP_ONLY
            if (isNaN(collectedRecordId)) {
                target_frequency = parseInt(`{{ indicator.target_frequency|safe}}`);
                if (!isNaN(target_frequency) && target_frequency == 1) {
                    // if target_frequency is 1 (LOP_Only) then there has to be exactly one periodic_target
                    var pt_id = parseInt(`{{ indicator.periodictarget_set.all.0.id|safe}}`);
                    $("#id_periodic_target").val(pt_id);
                }
                if (target_frequency != 1 && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                }
            } else {
                // disable the periodic_target dropdown unless it is set to MIDLINE_ENDLINE or EVENT
                if (!isNaN(target_frequency) && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                } else {
                    $("#id_periodic_target option:not(:selected)").attr("disabled", false);
                    $("#id_periodic_target").attr("readonly", false);
                }
            }
        });

        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
    </script>

    <form
        action="{% if object.id %}
                    {% url 'collecteddata_update' object.id %}
                {% else %}
                    {% url 'collecteddata_add' program_id indicator.id %}
                {% endif %}
                "
        id="collecteddata_update_form"
        class="form-horizontal"
        method="post"
        novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <legend>{%  trans 'Collected Data' %}</legend>

        <fieldset>
            <div class="form-row mb-2" id="div_id_program2">
                <label for="id_program2" class="col-sm-4 col-form-label" align="right">
                    {{ form.program.label }}*
                </label>
                <div class="col-sm-7">
                    {% render_field form.program2 class+="form-control" %}
                    <small class="form-text text-muted">{{ form.program.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_indicator2">
                <label for="id_indicator2" class="col-sm-4 col-form-label" align="right">
                    {{ form.indicator.label }}*
                </label>
                <div class="col-sm-7">
                    {% render_field form.indicator2 class+="form-control" %}
                    <small class="form-text text-muted">{{ form.indicator.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_site">
                <label for="id_site" class="col-sm-4 col-form-label" align="right">
                    {{ form.site.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.site class+="form-control" %}
                    <small class="form-text text-muted">{{ form.site.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_date_collected">
                <label for="id_date_collected" class="col-sm-4 col-form-label" align="right">
                    {{ form.date_collected.label }}*
                </label>
                <div class="col-sm-7">
                    {% render_field form.date_collected class+="form-control" %}
                    <small class="form-text text-muted">{{ form.date_collected.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_periodic_target">
                <label for="id_periodic_target" class="col-sm-4 col-form-label" align="right">
                    {{ form.periodic_target.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.periodic_target class+="form-control" %}
                    <span id="hint_id_periodic_target" class="form-text text-muted">{{ form.periodic_target.help_text }}</span>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_achieved">
                <label for="id_achieved" class="col-sm-4 col-form-label" align="right">
                    {{ form.achieved.label }}*
                </label>
                <div class="col-sm-7">
                    <span
                        id="id_span_achieved"
                        {% if indicator.unit_of_measure_type == 2 or object.indicator.unit_of_measure_type == 2 %} class="input-symbol-percent" {% endif %}>
                        {% render_field form.achieved class+="form-control" %}
                    </span>
                    <small id="hint_id_achieved" class="form-text text-muted">{{ form.achieved.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_description">
                <label for="id_description" class="col-sm-4 col-form-label" align="right">
                    {{ form.description.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.description class+="form-control" %}
                    <small id="hint_id_description" class="form-text text-muted">{{ form.description.help_text }}</small>
                </div>
            </div>
        </fieldset>

        <legend>Evidence</legend>
        <fieldset>
            <div class="form-row mb-2" id="div_id_complete">
                <label for="id_complete" class="col-sm-4 col-form-label" align="right">
                    {{ form.complete.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.complete class+="form-control" %}
                    <small id="hint_id_complete" class="form-text text-muted">{{ form.complete.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_evidence">
                <label for="id_evidence" class="col-sm-4 col-form-label" align="right">
                    {{ form.evidence.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.evidence class+="form-control" %}
                    <small id="hint_id_evidence" class="form-text text-muted">
                        {{ form.evidence.help_text }}
                    </small>
                </div>
            </div>

            <div class="form-row" id="div_id_tola_table">
                <label for="id_tola_table" class="col-sm-4 col-form-label" align="right">
                    {{ form.tola_table.label }}
                </label>
                <div class="col-sm-7">
                    <a class="output" data-toggle="modal" data-target="#tolatablemodal" href="/indicators/collecteddata_import/">{% trans 'Import Evidence From Tola Tables' %}</a>
                    {% render_field form.tola_table class+="form-control" %}
                    <small id="hint_id_tola_table" class="form-text text-muted">
                        {{ form.tola_table.help_text }}
                    </small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_tola_table">
                <label for="id_update_count_tola_table" class="col-sm-2 col-form-label">
                </label>
                <div class="col-sm-9">
                    {{ form.update_count_tola_table }} <label for="id_update_count_tola_table" class="col-form-label">{{ form.update_count_tola_table.label}}</label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            {% if getDisaggregationLabelStandard and not getDisaggregationValueStandard %}
                <div class="card">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#standardDisagg"
                            aria-expanded="false"
                            aria-controls="standardDisagg">
                        {% trans "Standard Disaggregations' %}
                    </div>
                    <div class="card-body collapse" id="standardDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation Level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationLabelStandard %}
                                <tr>
                                    <td>{{ item.label }}</td>
                                    <td>
                                        <input type="number" min="0"
                                            class="form-control form-control-sm"
                                            name="{{ item.id }}"
                                            value="">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% else %}
                {% if not getDisaggregationValueStandard %}
                    <h4>{% trans "Standard Disaggregation Levels Not Entered" %}</h4>
                    <p>{% trans "Standard disaggregations are entered by the administrator for the entire organizations.  If you are not seeing any here, please contact your system administrator." %}</p>
                {% endif %}
            {% endif %}
            <br>
            {% if getDisaggregationLabel and not getDisaggregationValue %}
                <div class="card">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#newDisagg"
                            aria-expanded="false"
                            aria-controls="newDisagg">
                        {% trans "New Disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="newDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation Level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                        {% for item in getDisaggregationLabel %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-control-sm"
                                        name="{{ item.id }}"
                                        value="">
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                </div>
            {% else %}
                {% if not getDisaggregationValue %}
                    <h4>{% trans "Disaggregation Levels Not Entered For This Indicator" %}</h4>
                    <a href="/indicators/indicator_update/{{ indicator_id }}">{% trans "Add a Disaggregation" %}</a>
                {% endif %}
            {% endif %}

            <br>
            {% if getDisaggregationValue %}
                <div class="card">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#existingDisagg"
                            aria-expanded="false"
                            aria-controls="existingDisagg">
                        {% trans "Existing Disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="existingDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation Level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationValue %}
                            <tr>
                                <td>{{ item.disaggregation_label.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-controm-sm"
                                        name="{{ item.disaggregation_label.id }}"
                                        value="{{ item.value }}">
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            {% endif %}

            {% if getDisaggregationValueStandard %}
                <div class="card">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#existingStandardDisagg"
                            aria-expanded="false"
                            aria-controls="existingStandardDisagg">
                        {% trans "Existing Standard Disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="existingStandardDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation Level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationValueStandard %}
                            <tr>
                                <td>{{ item.disaggregation_label.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-control-sm"
                                        name="{{ item.disaggregation_label.id }}"
                                        value="{{ item.value }}"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <div class="d-flex flex-row-reverse">
            <input type="reset"
                class="btn btn-secondary btn-sm mb-5" value="{% trans 'Reset' %}">
            <input type="submit" name="submit" value="{% trans 'Save changes' %}"
                class="btn btn-primary btn-sm mb-5" id="submit-id-submit">
        </div>
    </form>

{% endblock content %}
