{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Data</li>
</ol>
{% endblock %}
{% block page_title %}Collected Indicator Data{% endblock %}

{% block content %}
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Programs
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/0/">-- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ program.id }}">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
    </ul>
    <a href="/indicators/collecteddata_add/0/0/" class="btn btn-large btn-success">New Data</a>
    <a href="/indicators/collecteddata_import/0/" class="btn btn-large btn-info">Import Data</a>
    <br/>
    <br/>
</div>



    {% if getCollectedData %}
    <div class='panel panel-default'>
    {% regroup getCollectedData by program as DataByProgram %}
    {% for program in DataByProgram %}
        <div class='panel-heading'><h4>Program: {{ program }} </h4></div>
            <!-- Table -->
            <table class="table">
            {% regroup program.list by indicator as indicator_list %}
            {% for indicator in indicator_list %}
                <tr class="success">
                    {% if indicator.grouper %}
                        <td colspan="6"><b>Indicator:</b> {{ indicator.grouper }}</td>
                    {% else %}
                        <td colspan="6"><b>No Indicator</b>
                    {% endif %}
                </tr>
                <tr>
                    <th>Date Created</th>
                    <th>Date Collected</th>
                    <th>Agreement</th>
                    <th>Target</th>
                    <th>Actual</th>
                    <th>&nbsp;</th>
                </tr>
                {% for item in getCollectedData %}
                {% if item.indicator == indicator.grouper %}
                <tr>
                    <td><a href="/indicators/collecteddata_update/{{ item.id }}">{{ item.create_date}}</a></td>
                    <td>{{ item.date_collected }}</td>
                    <td>{{ item.agreement }}</td>
                    <td>{{ item.targeted }}</td>
                    <td>{{ item.achieved }}</td>
                    <td><a href="/indicators/collecteddata_add/{% if item.agreement.id %}{{ item.agreement.id }}{% else %}0{% endif %}/{% if item.indicator.id %}{{ item.indicator.id }}{% else %}0{% endif %}/" class="btn-xs btn-success">New</a><a href="/indicators/collecteddata_update/{{ item.id }}" class="btn-xs btn-info">Edit</a><a href="/indicators/collecteddata_delete/{{ item.id }}" class="btn-xs btn-danger">Delete</a></td>
                </tr>

                {% endif %}
                {% endfor %}

            {% endfor %}
            </table>
        </div>
    {% endfor %}
    </div>
    {% else %}
        <h4>No Data</h4>
    {% endif %}
{% endblock content %}