{% load i18n %}

<table class="table table-striped">
    <tr>
        <th>{% trans "Date Collected" %}</th>
        <th>{% trans "Evidence" %}</th>
        <th>{% trans "Target" %}</th>
        <th>{% trans "Actual" %}</th>
    </tr>
    {% for item in collected %}
    <tr>
        <td>{{ item.date_collected|date:"d-m-Y" }}</td>
        <td>{{ item.evidence }} {{ item.tola_table}}</td>
        <td>{{ item.targeted|floatformat:"-2" }}</td>
        <td>{{ item.achieved|floatformat:"-2" }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6"><span style="float: right;">{% trans "Sum:" %}</span></td>
        <td>{{ collected_sum.targeted__sum|floatformat:"-2" }}</td>
        <td>{{ collected_sum.achieved__sum|floatformat:"-2" }}</td>
        <td>&nbsp;</td>
    </tr>
</table>

