

<table class="table table-striped">
    <tr>
        <th>Date Collected</th>
        <th>Evidence</th>
        <th>Target</th>
        <th>Actual</th>
    </tr>
    {% for item in collected %}
    <tr>
        <td>{{ item.date_collected|date:"d-m-Y" }}</td>
        <td>{{ item.evidence }} {{ item.tola_table}}</td>
        <td>{{ item.targeted }}</td>
        <td>{{ item.achieved }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6"><span style="float: right;">Sum:</span></td>
        <td>{{ collected_sum.targeted__sum }}</td>
        <td>{{ collected_sum.achieved__sum }}</td>
        <td>&nbsp;</td>
    </tr>
</table>

