{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/{{ program.id }}/">Indicators</a></li>
</ol>
{% endblock %}
{% block page_title %}Collected Indicator Data{% endblock %}

{% block content %}

<div class="dropdown">
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Programs
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for program in getPrograms %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/0/{{ program.id }}/{{ type }}/">{{ program.gaitid}} - {{ program.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Indicators
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ 0 }}/{{ program }}/{{ type }}/"> -- All -- </a></li>
        {% for item in getIndicators %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ item.id }}/{{ program }}/{{ type }}/">{{ item.number}} - {{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Indicator Type
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/collecteddata/{{ indicator }}/{{ program }}/0/"> -- All -- </a></li>
        {% for item in getIndicatorTypes %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ indicator}}/{{ program }}/{{ item.id }}/">{{ item.indicator_type}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <br/>
    <br/>
</div>
<p>
{% if indicator_name %}
    <span class="filter">Filtered by Indicator: {{ indicator_name }}</span>
{% endif %}
{% if program_name %}
    <span class="filter">Filtered by Program : {{ program_name }}</span>
{% endif %}
{% if type_name %}
    <span class="filter">Filtered by Indicator Type : {{ type_name }}</span>
{% endif %}
</p>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}publicdashboard/js/vendor/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // Build a filter for start and end date from Column 8 or date collected
            $.fn.dataTableExt.afnFiltering.push(
                function( oSettings, aData, iDataIndex ) {

                    var start = document.getElementById('dt1').value;
                    var end = document.getElementById('dt2').value;
                    var dateCol = aData[8];

                    //replace the - in all striangs
                    var find = '-';
                    var re = new RegExp(find, 'g');

                    start = start.replace(re,'');
                    end = end.replace(re,'');
                    dateCol = dateCol.replace(re,'');


                    if ( start === "" && end === "" )
                    {
                        return true;
                    }
                    else if ( start <= dateCol && end === "")
                    {
                        return true;
                    }
                    else if ( end >= dateCol && start === "")
                    {
                        return true;
                    }
                    else if (start <= dateCol && end >= dateCol)
                    {
                        return true;
                    }
                    return false;
                }
            );

            // Set data picker values and formats
            $("#dt1").datepicker({
                dateFormat: "yy-m-dd"
            });
            $('#dt2').datepicker({
                dateFormat: "yy-m-dd"
            });

            function show_indicator_table(indicator_data) {

                indicator_records = JSON.parse(indicator_data);
                //First destroy any old version of the table to refresh anew
                if ( $.fn.dataTable.isDataTable( '#data_table' ) ) {
                    table.destroy();
                    $('#data_table').empty();
                };

                table = $('#data_table').DataTable( {
                    retrieve: true,
                    data: indicator_records,
                    columns: [
                        { title: "Program", data: "indicator__program__name"},
                        { title: "Indicator", data: "name",
                                "mRender": function (data, type, row) {
                                    return '<a class="collecteddata" name=' + row.indicator__id + ' href="/indicators/collecteddata/' + row.indicator__id + '/{{ program }}/0/">' + row.indicator__name + '</a>';
                                }
                            },
                        { title: "Level", data: "indicator__level__name"},
                        { title: "Type", data: "indicator__indicator_type__indicator_type"},
                        { title: "Sector", data: "indicator__sector__sector"},
                        { title: "Baseline", data: "indicator__baseline"},
                        { title: "LOP Target", data: "indicator__lop_target"},
                        { title: "KPI",data: "indicator__key_performance_indicator"},
                        { title: "Date Collected", data: "date_collected",
                                "mRender": function ( data, type, row ) {
                                var javascriptDate = new Date(row.date_collected);
                                javascriptDate = javascriptDate.getFullYear() + "-" + (javascriptDate.getMonth()+1) + "-" + javascriptDate.getDate();
                                return "<div class='date'>"+javascriptDate+"<div>";}},
                        { title: "Targeted", data: "targeted"},
                        { title: "Achieved", data: "achieved"},
                        ]
                } );

                // provide export button url for indicator
                $('#export').click(function(){ do_export("indicator"); });
                $('.collecteddata').click(function(){ data_report(this.name); });
                $('#program_report').click(function(){ program_report(this.name); });

                // Listen for filter and redraw
                $('#dt2').change( function() {
                    table.draw();
                });

                $('#dt2').change( function() {
                    table.draw();
                });

            }



            // INDICATOR REPORT
            function indicator_report() {
                // get the program and indicator id from the url
                indicator_id = document.URL.split('/')[5];
                //console.log(indicator_id);
                program_id = document.URL.split('/')[6];
                //console.log(program_id);
                type_id = document.URL.split('/')[7];
                //console.log(type_id);

                $.getJSON("/indicators/collecteddata_report_data/" + indicator_id + "/" + program_id + "/" + type_id + "/", function(data) {
                    show_indicator_table(data['collected']);
                    // If the indicator id is passed then sum up for the indicator
                    if (indicator_id > 0){
                        document.getElementById("sum1").style.display = 'block';
                        document.getElementById("sum2").style.display = 'block';
                        document.getElementById("targeted1").innerHTML=data['collected_sum']['targeted__sum'];
                        document.getElementById("achieved1").innerHTML=data['collected_sum']['achieved__sum'];
                        document.getElementById("targeted2").innerHTML=data['collected_sum']['targeted__sum'];
                        document.getElementById("achieved2").innerHTML=data['collected_sum']['achieved__sum'];
                        }
                });
            }

            // EXPORT DATA
            function do_export(type) {
                // get the program and  indicator id from the url
                indicator_id = document.URL.split('/')[5];
                console.log(indicator_id);
                program_id = document.URL.split('/')[6];
                type_id = document.URL.split('/')[7];
                console.log(type_id);
                new_location="/indicators/collecteddata_report_data/" + indicator_id + "/" + program_id + "/" + type_id + "/" + "export";
                window.location.assign(new_location);

            }

            indicator_report();

        });
    </script>
    <div id="sum1" style="display: none; float: right;">
        <p>
            <b>Targeted Total:</b> <span class="badge" id="targeted1"></span>&nbsp;
            <b>Achieved Total:</b> <span class="badge" id="achieved1"></span>
        </p>
    </div>
    <div>&nbsp;</div>
    <div id="program_table_div">
        <table border="2" cellspacing="5" cellpadding="5">
            <tbody><tr>
                <td>Start Date: </td>
                <td><input type="text" id="dt1"></td>
            </tr>
            <tr>
                <td>End Date: </td>
                <td><input type="text" id="dt2"></td>
            </tr>
        </tbody>
        </table>
        <br/>
        <table class="table table-bordered" id="data_table">
        </table>
    </div>
    <div id="sum2" style="display: none; float: right;">
        <p>
            <b>Targeted Total:</b> <span class="badge" id="targeted2"></span>&nbsp;
            <b>Achieved Total:</b> <span class="badge" id="achieved2"></span>
        </p>
    </div>
    <br/>
    <button type="button" class="btn btn-success" id="export">Export All</button>
    <div id="wait-animation" class="ajaxLoader" style="display: none;"></div>






{% endblock content %}
