{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Data</li>
</ol>
{% endblock %}
{% block page_title %}Collected Indicator Data{% endblock %}

{% block content %}
<div class="dropdown">
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Programs
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for program in getPrograms %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/0/{{ program.id }}/">{{ program.gaitid}} - {{ program.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Indicators
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        {% for item in getIndicators %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ item.id }}/0/">{{ item.number}} - {{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <br/>
    <br/>
</div>



    {% if getCollectedData %}
    <div class='panel panel-default'>
        <div class='panel-heading'><h4>{% if filter_program %} Program: {{ filter_program }} {% elif filter_indicator %} Indicator: {{ filter_indicator }} {% endif %}</h4></div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Indicator</th>
                    <th>Date Created</th>
                    <th>Date Collected</th>
                    <th>Program</th>
                    <th>Evidence</th>
                    <th>Target</th>
                    <th>Actual</th>
                    <th>&nbsp;</th>
                </tr>
                {% for item in getCollectedData %}
                <tr>
                    <td>{{ item.indicator.number }} - {{ item.indicator.name }}</td>
                    <td><a href="/indicators/collecteddata_update/{{ item.id }}">{{ item.create_date}}</a></td>
                    <td>{{ item.date_collected }}</td>
                    <td>{{ item.program }}</td>
                    <td>{{ item.evidence }} </td>
                    <td>{{ item.targeted }}</td>
                    <td>{{ item.achieved }}</td>
                    <td><a href="/indicators/collecteddata_update/{{ item.id }}" class="btn-xs btn-info">Edit</a><a href="/indicators/collecteddata_delete/{{ item.id }}" class="btn-xs btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><span style="float: right;">Sum:</span></td>
                    <td>{{ collected_sum.targeted__sum }}</td>
                    <td>{{ collected_sum.achieved__sum }}</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    {% else %}
        <h4>No Data Found for <em>"{% if filter_program %}Program: {{ filter_program }}{% elif filter_indicator %} Indicator: {{ filter_indicator }}{% endif %}"</em> </h4>
        <p>Select a Program or Indicator from the filters above.</p>
    {% endif %}
{% endblock content %}