<script>
    // target_frequency setup as a global variable, which is set on document.ready
    var target_frequency;
    var indicator_id

    $(document).ready(function() {
        $('.datepicker').datepicker({dateFormat: "yy-mm-dd"});
        target_frequency = parseInt(`{{object.indicator.target_frequency|safe}}`);
        indicator_id = `{{object.indicator.id|safe}}`;
        var ptlen = `{{object.indicator.periodictarget_set.all.count|safe}}`;
        var collectedRecordId = parseInt(`{{object.id|safe}}`);

        // if it is a new record and target_frequency is LOP_ONLY then set periodic_target to LOP_ONLY
        if (isNaN(collectedRecordId)) {
            target_frequency = parseInt(`{{ indicator.target_frequency|safe}}`);
            if (!isNaN(target_frequency) && target_frequency == 1) {
                // if target_frequency is 1 (LOP_Only) then there has to be exactly one periodic_target
                var pt_id = parseInt(`{{ indicator.periodictarget_set.all.0.id|safe}}`);
                $("#id_periodic_target").val(pt_id);
            }
            lockPeriodicTargetDropdown();
        } else {
            // disable the periodic_target dropdown unless it is set to MIDLINE_ENDLINE or EVENT
            if (!isNaN(target_frequency) && target_frequency != 2 && target_frequency != 8) {
                lockPeriodicTargetDropdown();
            } else {
                $("#id_periodic_target option:not(:selected)").attr("disabled", false);
                $("#id_periodic_target").attr("readonly", false);
            }
        }
    });

    // Intercept CollectedDataUpdate form submission and then use ajax to submit it.
    $("#indicator_modal_body").on("submit", "#collecteddata_update_form", function(e){
        e.preventDefault();
        var isFormValid = true;
        $("#modalmessages").empty();
        isFormValid = validatePeriodicTarget();
        isFormValid = validateDateCollected();
        if (isFormValid == false) {
            return false;
        }
        if ($("#collecteddata_update_form div").hasClass('has-error')) {
            createAlert("danger", "Please complete all required.", true, "#modalmessages");
            $('#indicator_collecteddata_div').animate({ scrollTop: 0 }, 'slow');
            return;
        }
        var form_url = $(this).attr('action');
        var form_data = $(this).serialize();
        $.post(form_url, form_data,
               function(response, status, jqXHR) { // success callback
                    $("#modalmessages").empty();
                    createAlert("success", "Success, form data saved.", true, "#modalmessages");
                })
            .fail(function(error){
                createAlert("danger", "Could not save form. "  + error, true, "#modalmessages");
            });
        $('#indicator_collecteddata_div').animate({ scrollTop: 0 }, 'slow');
    });


    $("#collecteddata_update_form").on("change", "#id_date_collected", function(e){
        validatePeriodicTarget();
        validateDateCollected();
    });

    $("#collecteddata_update_form").on("change", "#id_periodic_target", function(e){
        validatePeriodicTarget();
    });



    function validatePeriodicTarget() {
        if (setPeriodicTargetValue() == false) {
            // $("#id_periodic_target").val('');
            $("#hint_id_periodic_target").html("<small>This date falls outside the range of your target periods. You can change the date or <a id='targetsTabLink' href='/indicators/indicator_update/" + indicator_id + "/'><strong>create</strong></a> additional target periods.</small>");
            $("#div_id_periodic_target").addClass('has-error');
        } else if ($("#id_periodic_target").val() == '') {
            $("#hint_id_periodic_target").html("<small>Pleae complete this field.</small>");
            $("#div_id_periodic_target").addClass('has-error');
            return false;
        } else {
            $("#hint_id_periodic_target").html("");
            $("#div_id_periodic_target").removeClass('has-error');
            return true;
        }
    }

    function validateDateCollected(){
        var field = $("#id_date_collected").val();
        if ($.isEmptyObject(field)) {
            $("#div_id_date_collected").addClass('has-error');
            $("#hint_id_date_collected").html("<small>Please complete this field.</small>");
        }else if (!isDate(field)) {
            $("#div_id_date_collected").addClass('has-error');
            $("#hint_id_date_collected").html("<small>Please enter a valid date.</small>");
            return false;
        } else {
            $("#div_id_date_collected").removeClass('has-error');
            $("#hint_id_date_collected").text(" ");
            return true;
        }
    }

    function setPeriodicTargetValue() {
        //   \(    : match an opening parentheses
        //   (     : begin capturing group
        //   [^)]+ : match one or more non ) characters
        //   )     : end capturing group
        //   \)    : match closing parentheses
        var regExp = /\(([^)]+)\)/;
        var matchFound = false

        if (target_frequency == 1 || target_frequency == 2 || target_frequency == 8) {
            return true;
        }
        $("#id_periodic_target option").each(function() {
            var pt_date_range = regExp.exec(this.text);
            if (!pt_date_range || pt_date_range == null || pt_date_range == 'null'){
                return;
            }
            pt_date_range = pt_date_range[1].split('-');
            try {
                var start_date = new Date(pt_date_range[0].trim());
                var end_date = new Date(pt_date_range[1].trim());
                var collected_date = new Date($("#id_date_collected").val().trim());
                if (collected_date > start_date && collected_date < end_date) {
                    // deselect the currently selected option
                    $("#id_periodic_target option:selected").attr("selected", false);
                    // select the correct value
                    $("#id_periodic_target").val(this.value);
                    // set the selected option
                    $("#id_periodic_target option[value=" + this.value + "]").attr('selected', 'selected');
                    // disable all options except the selected option
                    $("#id_periodic_target option:not(:selected)").attr("disabled", true);
                    // enable the selected option
                    $("#id_periodic_target option:selected").attr("disabled", false);
                    matchFound = true;
                    return;
                }
            } catch (error) {
                console.log(error);
            }
        });
        if (!matchFound) {
            // deselect the currently selected option
            $("#id_periodic_target option:selected").attr("selected", false);
            // change the value to nothing
            $("#id_periodic_target").val('');
            // select the nothing option
            $("#id_periodic_target option[value='']").attr('selected', 'selected');
            // disable all options except the selected option
            $("#id_periodic_target option:not(:selected)").attr("disabled", true);
            // enable the selected option
            $("#id_periodic_target option:selected").attr("disabled", false);
        }
        return matchFound;
    }


    function lockPeriodicTargetDropdown(){
        $("#id_periodic_target option:not(:selected)").attr("disabled", true);
        $("#id_periodic_target").attr("readonly", true);
    }
</script>