{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Reports</li>
</ol>

<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Indicator
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/0">--All--</a></li>
    {% for item in getIndicators %}
        <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/{{ item.id }}">{{ item.id}} - {{ item.name }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation"><a role="menuitem" tabindex="2" href="/indicators/data/0">--All--</a></li>
    {% for item in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="2" href="/indicators/data/0/{{ item.id }}">{{ item.id}} - {{ item.name }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="btn-group" role="group">
  <button class="btn btn-default {% if 'table' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/table/'" name="table">Table</button>&nbsp;
  <button class="btn btn-default {% if 'map' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/map/'" name="map">Map</button>&nbsp;
  <button class="btn btn-default {% if 'graph' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/graph/'" name="graph">Graph</button>
</div>
<br/>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Report{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}
<br/>
{% if indicator_name %}
    <h4>Filtered by Indicator: {{ indicator_name }}</h4>
{% elif program_name %}
    <h4>Filtered by Program : {{ program_name }}</h4>
{% endif %}
{% if 'search' in request.get_full_path %}
    <p>{{ request.GET.urlencode }}</p>
{% endif %}
{% if "map" in request.get_full_path %}
    <style>
        #map { height: 350px; }
    </style>
    <p><b>Sites</b></p>
    <div id="map"></div>
    {% include "indicators/site_profile_map.html" %}
{% elif "graph" in request.get_full_path %}
    {% include "indicators/indicator_graphs.html" %}
{% else %}
    {% render_table table %}
{% endif %}
<br/>

<button type="submit" class="btn btn-success" onClick="location.href=''">Export All</button>

{% endblock content %}