{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Reports</li>
</ol>
<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
    Program
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation"><a role="menuitem" tabindex="2" href="/indicators/data/0/0/0/">--All--</a></li>
    {% for item in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="2" href="/indicators/data/0/{{ item.id }}/{{ type }}/">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Indicator
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/0/{{ program }}/{{ type }}/">--All--</a></li>
    {% for item in getIndicators %}
        <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/{{ item.id }}/{{ program }}/{{ type }}/">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Indicator Type
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/{{ indicator }}/{{ program }}/0/">--All--</a></li>
    {% for item in getTypes %}
        <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/data/{{ indicator }}/{{ program }}/{{ item.id }}/">{{ item.indicator_type }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="btn-group" role="group">
  <button class="btn btn-default {% if 'table' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/{{ type }}/table/'" name="table">Table</button>&nbsp;
  <button class="btn btn-default {% if 'map' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/{{ type }}/map/'" name="map">Map</button>&nbsp;
  <button class="btn btn-default {% if 'graph' in request.get_full_path %} active{%endif%}" onClick="location.href='/indicators/data/{{ id }}/{{ program }}/{{ type }}/graph/'" name="graph">Graph</button>
</div>
<br/>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Report{% endblock %}

{% block content %}

<br/>
{% if indicator_name %}
    <h4>Filtered by Indicator: {{ indicator_name }}</h4>
{% elif program_name %}
    <h4>Filtered by Program : {{ program_name }}</h4>
{% elif type_name %}
    <h4>Filtered by Indicator Type : {{ type_name }}</h4>
{% endif %}

{% if "map" in request.get_full_path %}
    <style>
        #map { height: 350px; }
    </style>
    <p><b>Sites</b></p>
    <div id="map"></div>
    {% include "small_site_profile_map.html" %}
{% elif "graph" in request.get_full_path %}
    {% include "indicators/indicator_graphs.html" %}
{% else %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}publicdashboard/js/vendor/Chart.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {

        function show_indicator_table(indicator_data) {

            indicator_records = JSON.parse(indicator_data);
            //First destroy any old version of the table to refresh anew
            if ( $.fn.dataTable.isDataTable( '#data_table' ) ) {
                table.destroy();
                $('#data_table').empty();
            };

            table = $('#data_table').DataTable( {
                retrieve: true,
                data: indicator_records,
                columns: [
                    { title: "Program", data: "program__name"},
                    { title: "Indicator", data: "name",
                            "mRender": function (data, type, row) {
                                return '<a class="collecteddata" name=' + row.id + ' href="/indicators/indicator_update/' + row.id + '/">' + row.name + '</a>';
                            }
                        },
                    { title: "Level", data: "level__name"},
                    { title: "Type", data: "indicator_type__indicator_type"},
                    { title: "Sector", data: "sector__sector"},
                    { title: "Baseline", data: "baseline"},
                    { title: "LOP Target", data: "lop_target"},
                    { title: "External", data: "external_service_record__external_service__name"},
                    { title: "Supporting Data", data: "collecteddata",
                              "mRender": function (data, type, row) {
                                return '<a class="collecteddata" name=' + row.id + ' href="/indicators/collecteddata/' + row.id + '/0/0/">Collected Data</a>';
                              }
                        },
                    { title: "KPI",data: "key_performance_indicator"}
                    ]
            } );

            // provide export button url for indicator
            $('#export').click(function(){ do_export("indicator"); });
            $('.collecteddata').click(function(){ data_report(this.name); });
            $('#program_report').click(function(){ program_report(this.name); });

        }

        // INDICATOR REPORT
        function indicator_report() {
            // get the program and indicator id from the url
            indicator_id = document.URL.split('/')[5];
            console.log(indicator_id);
            program_id = document.URL.split('/')[6];
            type_id = document.URL.split('/')[7];

            $.getJSON("/indicators/report_data/" + indicator_id + "/" + program_id + "/" + type_id + "/", function(data) {
                show_indicator_table(data['indicator']);
            });
        }

        // EXPORT DATA
        function do_export(type) {
            // get the program and  indicator id from the url
            indicator_id = document.URL.split('/')[5];
            console.log(indicator_id);
            program_id = document.URL.split('/')[6];
            type_id = document.URL.split('/')[7];

            new_location="/indicators/report_data/" + indicator_id + "/" + program_id + "/" + type_id + "/" + "export";
            window.location.assign(new_location);

        }

        indicator_report();

    });
    </script>

    <div class="row">
        <div class="col-sm-12">
            <div id='data-panel' class="panel panel-primary">
                <div class="panel-body" style="padding:15px;">
                    <div id="program_table_div">
                        <table class="table table-bordered" id="data_table">
                        </table>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-success" id="export">Export All</button>
                    <div id="wait-animation" class="ajaxLoader" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<br/>

{% endblock content %}