<div class="dropdown">
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Programs
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/0/{{ program.id }}/{{ type }}/">{{ program.gaitid}} - {{ program.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="btn-group" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Indicators
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ 0 }}/{{ program }}/{{ type }}/"> -- All -- </a></li>
        {% for item in getIndicators %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ item.id }}/{{ program }}/{{ type }}/">{{ item.number}} - {{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="btn-group" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Indicator Type
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation"><a role="menuitem" tabindex="1" href="/indicators/collecteddata/{{ indicator }}/{{ program }}/0/"> -- All -- </a></li>
        {% for item in getIndicatorTypes %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/collecteddata/{{ indicator}}/{{ program }}/{{ item.id }}/">{{ item.indicator_type}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <br/>
    <br/>
</div>