{% extends "base.html" %}
{% load i18n %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/0/0/">{% trans "Indicators" %}</a></li>
  <li class="active">{% trans "Reports" %}</li>
</ol>
{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Print/Grid Report{% endblock %}

{% block content %}

<h3>{{ getProgram.gaitid }} - {{ getProgram.name }}</h3>

    <!-- Table -->
    <!--
    'programs', 'sector','indicator_type', 'name', 'number', 'source', 'definition', 'disaggregation', 'baseline', 'lop_target', 'means_of_verification', 'data_collection_method', 'responsible_person',
                    'method_of_analysis', 'information_use', 'reporting_frequency','create_date', 'edit_date') -->
    <div class="table-responsive">
    <table class="table table-striped" border="1">
        <tr>
            <th>{% trans "Indicator type" %}</th>
            <th>{% trans "Level" %}</th>
            <th>{% trans "Objectives" %}</th>
            <th>{% trans "Strategic Objectives" %}</th>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "KPI" %}</th>
            <th>{% trans "Source" %}</th>
            <th>{% trans "Definition" %}</th>
            <th>{% trans "Disaggregation" %}</th>
            <th>{% trans "Baseline" %}</th>
            <th>{% trans "LOP Target" %}</th>
            <th>{% trans "Means of Verification" %}</th>
            <th>{% trans "Data Collection Method" %}</th>
            <th>{% trans "Responsible Person" %}</th>
            <th>{% trans "Method of Analysis" %}</th>
            <th>{% trans "Information Use" %}</th>
            <th>{% trans "Reporting Frequency" %}</th>
            <th>{% trans "Comments" %}</th>
        </tr>
        {% for indicator in getIndicators %}
        <tr>
            <td>{{ indicator.indicator_types }}</td>
            <td>{{ indicator.levels }}</td>
            <td>{{ indicator.objectives_list }}</td>
            <td>{{ indicator.strategicobjectives_list }}</td>
            <td>{{ indicator.number }}</td>
            <td>{{ indicator.name }}</td>
            <td>{{ indicator.key_performance_indicator }}</td>
            <td>{{ indicator.source }}</td>
            <td>{{ indicator.definition }}</td>
            <td>{{ indicator.disaggregations }}</td>
            <td>{{ indicator.baseline }}</td>
            <td>{{ indicator.lop_target }}</td>
            <td>{{ indicator.means_of_verification }}</td>
            <td>{{ indicator.data_collection_method }}</td>
            <td>{{ indicator.responsible_person }}</td>
            <td>{{ indicator.method_of_analysis }}</td>
            <td>{{ indicator.information_use }}</td>
            <td>{{ indicator.reporting_frequency }}</td>
            <td>{{ indicator.comments }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

<br/>

<button type="submit" class="btn btn-success" onClick="location.href='/indicators/export/0/{{ getProgram.id }}/0/'">{% trans "Export All" %}</button>

{% endblock content %}