{% load widget_tweaks %}
{% load mytags %}

{% if periodic_targets and indicator.target_frequency != 1%}
    <div class="d-flex flex-column p-4 inputs-in-a-box" style="margin-left:-15px; margin-right:-15px;">
        <div class="col-sm-11 mx-auto">
            <h5>{{ indicator.get_target_frequency_label }} targets</h5>
        </div>
        <div id="periodic-targets-tablediv" class="col-sm-11 mx-auto">
            <table class="table table-sm mb-0" id="periodic_targets_table">
                <tbody>
                {% for pt in periodic_targets %}
                    <tr id="{{pt.pk}}" data-collected-count="{{pt.num_data}}" class="periodic-target">
                        <td class="align-middle p-1 text-center">
                            <a href="{% if pt.id %} {% url 'pt_delete' pt.id %} {% else %} # {% endif %}" id="deleteLastPT" class="detelebtn" style="color: red; display:{% if forloop.last and indicator.target_frequency != 2 or indicator.target_frequency == 8 %} block {% else %}none{% endif %}">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>

                        <td class="align-middle pr-0">
                            {% if indicator.target_frequency == 8 %}
                                <input type="text" name="{{ pt.period }}" value="{{ pt.period }}" class="form-control input-text">
                                <span style="margin:0px;" class="help-block"> </span>
                            {% else %}
                                <strong>{{ pt.period }}</strong>
                                <div>{{ pt.start_date|convert2dateobject|date:"M d, Y"|default:'' }} {% if pt.start_date %} - {% endif %} {{ pt.end_date|convert2dateobject|date:"M d, Y"|default:'' }}</div>
                            {% endif %}
                        </td>

                        <td class="align-middle align="right" width="150px">
                            <span id="id_span_{{ pt.id }}" class="{% if indicator.unit_of_measure_type == 2 %}input-symbol-percent{% endif %}"">
                                <input
                                    type="number"
                                    id="pt-{{ pt.id }}"
                                    name="{{ pt.period }}"
                                    value="{{ pt.target|floatformat:"-2" }}"
                                    data-periodictarget="pt"
                                    data-start-date="{{pt.start_date|convert2dateobject|date:"M d, Y"|default:''}}"
                                    data-end-date="{{pt.end_date|convert2dateobject|date:"M d, Y"|default:''}}"
                                    placeholder="Enter target"
                                    class="form-control input-value {% if indicator.unit_of_measure_type == 2 %} pr-4 {% endif %}">
                            </span>
                            <span id="hint_id_pt_{{pt.pk}}" style="margin:0px;" class="help-block"> </span>
                        </td>
                    </tr>
                    {% if forloop.last %}
                        <tr id="pt_sum_targets">
                            <td class="pt-delete-row"> </td>
                            <td align="left" class="align-middle">
                                <strong>
                                    <span id="id_span_label_targets_sum">
                                        {% if indicator.unit_of_measure_type == 1%}Sum{% else %}Average{% endif %} of targets
                                    </span>
                                </strong>
                            </td>
                            <td align="right" class="align-middle">
                                <div class="m-2 pr-1">
                                    <strong>
                                        <span id="id_span_targets_sum">
                                            {% if indicator.unit_of_measure_type == 1%}
                                                {{targets_sum|floatformat:"-2"}}
                                            {% else %}
                                                {{targets_avg|floatformat:"-2"}}
                                            {% endif %}
                                        </span>
                                        <span id="id_span_targtsaggregate_percent_sign">
                                            {% if indicator.unit_of_measure_type == 2 %}%{% endif %}
                                        </span>
                                    </strong>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr style="background-color:#F5F5F5">
                    <td class="pt-delete-row"> </td>
                    <td align="left" class="align-middle">
                        <strong>Life of Program (LoP) target</strong>
                    </td>
                    <td align="right" class="align-middle">
                        <div class="m-2 pr-1">
                            <strong>
                                <span id="id_span_loptarget">
                                    {{indicator.lop_target|floatformat:"-2"}}
                                    <span id="id_span_loptarget_percent_sign">
                                        {% if indicator.unit_of_measure_type == 2 %}%{% endif %}
                                    </span>
                                </span>
                            </strong>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr style="background-color:#F5F5F5">
                        <td colspan="3" style="color:red; padding: 0px" id="id_pt_errors"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-11 mx-auto">
            {% if indicator.target_frequency != 2 %}
                <a href="#" id="addNewPeriodicTarget" class="btn btn-link pl-1"><i class="fas fa-plus"></i> Add a target</a>
            {% endif %}
        </div>
        <div class="col-sm-11 mx-auto">
            <div class="card inputs-in-a-box" id="id_div_is_cumulative">
                <div class="card-body p-1">
                    <!-- UNIT_OF_MEASURE_TYPE = 1 IS NUMBER AND 2 IS PERCENTAGE -->
                    <!-- IS_CUMULATIVE = 2 and NON_CUMULATIVE = 3 -->
                    {% with unit_type=indicator.unit_of_measure_type %}
                        <div id="id_is_cumulative_section_header" class="d-flex flex-row px-2 pt-2">
                            <strong>
                                <span id="id_span_is_cumulative_header">
                                    {% if unit_type == 1 %}
                                        OPTIONS FOR NUMBER (#) INDICATORS
                                    {% else %}
                                        OPTIONS FOR PERCENTAGE (%) INDICATORS
                                    {% endif %}
                                </span>
                            </strong>
                        </div>
                        <div id="id_div_is_cumulative_section1" class="d-flex flex-row px-2 pb-2">
                            <input
                                type="radio"
                                name="is_cumulative"
                                value="{% if unit_type == 1 %}3{% else %}2{% endif %}"
                                required
                                {% if unit_type == 1 %}
                                    {% if indicator.is_cumulative is None or indicator.is_cumulative is False %} checked {% endif %}
                                {% else %}
                                    {% if indicator.is_cumulative is True %} checked {% endif %}
                                {% endif %}
                                class="form-control mr-1"
                                id="id_is_cumulative_1"
                                style="width: 6%;">
                            <label
                                class="form-check-label"
                                for="id_is_cumulative_1">
                                {% if unit_type == 1 %}
                                    NON-CUMULATIVE (NC): Target period results are automatically calculated from data collected during the period. The Life of Program result is the sum of target period values.
                                {% else %}
                                    CUMULATIVE (C): The Life of Program result mirrors the latest period value. No automatic calculations are performed with collected data.
                                {% endif %}
                            </label>
                        </div>

                        <div id="id_div_is_cumulative_section2" class="d-flex flex-row px-2">
                            <input
                                type="radio"
                                name="is_cumulative"
                                value="{% if unit_type == 1 %}2{% else %}3{% endif %}"
                                required
                                {% if unit_type == 1 %}
                                    {% if indicator.is_cumulative is True %} checked {% endif %}
                                {% else %}
                                    {% if indicator.is_cumulative is None or indicator.is_cumulative is False %} checked {% endif %}
                                {% endif %}
                                class="form-control mr-1"
                                id="id_is_cumulative_2"
                                style="width: 6%;">
                            <label
                                class="form-check-label"
                                for="id_is_cumulative_2">
                                {% if unit_type == 1 %}
                                    CUMULATIVE (C): Target period results automatically include data from previous periods. The Life of Program result mirrors the latest period value.
                                {% else %}
                                    NON-CUMULATIVE (NC): The Life of Program result is the average of target period values. No other automatic calculations are performed.
                                {% endif %}
                            </label>
                        </div>
                    {% endwith %}

                </div>
            </div>
        </div>
    </div>
{% endif %}