<script>

    $("#indicator_modal_content, #indicator_form").on("click", ".detelebtn", function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        if (url == "#") {
            $(e.target).closest("tr").remove();
            return;
        }

        $.post(url)
            .done(function(data, textStatus, jqXHR){
                if (data.status == "success") {
                    $(e.target).closest("tr").remove();
                } else {
                    createAlert("danger", data.msg, true, "#modalmessages");
                    $('#indicator_modal_div').animate({ scrollTop: 0 }, 'slow');
                }
            });
    });
    // Intercept IndicatorUpdate form submission and then use ajax to submit it.
    $("#indicator_modal_content, #indicator_form").on("submit", "#indicator_update_form", function(e){
        e.preventDefault();
        var submitBtnName = $(this).find("input[type=submit]:focus" );
        var form_url = $(this).attr('action');
        var form_data = $(this).serialize();
        var periodic_targets = [];
        $('#periodic_targets_table tr').each(function () {
            var $this = $(this);
            var values = [];
            $this.find('input[type=text]').each(function (i, input) {
                if (i == 0) {
                    values.push($(input).attr('name').split('-')[1]);
                }
                values.push($(input).val());
            });
            if(values.length > 0) {
                if ( !$.isNumeric(values[2]) || values[1] == '') {
                    return;
                }
                periodic_targets.push({'id': values[0], 'period': values[1], 'target': values[2] } );
            }
        });
        form_data += "&periodic_targets=" + JSON.stringify(periodic_targets);
        //console.log(JSON.stringify(periodic_targets));
        submitForm(form_url, form_data);

    });

    function addPeriodicTarget() {
        var markup = `
            <tr id="0">
                <td><input type="text" name="period-0" class="textinput textInput form-control"></td>
                <td><input type="text" name="target-0" class="textinput textInput form-control"></td>
                <td style="vertical-align:middle">
                    <a href="#" class="detelebtn" style="color:red;"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>`;

        $("#periodic_targets_table tbody").append(markup);

    }
    function submitForm(form_url, form_data) {
        $("#modalmessages").html("<img src='{{ STATIC_URL }}/img/ajax-loader.gif'>  <span>Saving form... please wait.</span>");
        $.ajax({
            method: 'POST',
            url: form_url,
            data: form_data,
            global: false, }
        ).done(function(data, textStatus, jqXHR) {
            var alertsElement = "#alerts";
            if ( $("#modalmessages").length) {
                alertsElement = "#modalmessages";
            }
            // if there are any erros show them and then STOP
            if (jqXHR.getResponseHeader('error') == "True") {
                //$("#modalerrors").html(data);
                createAlert("danger", data, true, alertsElement);
                return;
            }
            //var json = $.parseJSON(jqXHR.responseText);
            $(alertsElement).html('');
            createAlert("success", "Success, form data saved.", true, alertsElement);
            var jsondata = $.parseJSON(data);
            //var item = data;
            var indicator = jsondata[0][0];
            var pts = jsondata[1];

            $("#id_achieved").val(indicator['fields']['achieved']);
            $("#periodic_targets_table").find("tr:gt(0)").remove();

            $.each(pts, function(i, pt) {

                var markup = '<tr id=' + pt.pk + '"><td><input type="text" name="period-' + pt.pk + '" value="' + pt.fields.period +'" class="textinput textInput form-control"></td><td><input type="text" name="target-' + pt.pk + '" value="' + pt.fields.target +'" class="textinput textInput form-control"></td><td style="vertical-align:middle"> <a href="/indicators/periodic_target_delete/' + pt.pk + '/" class="detelebtn" style="color:red;"><span class="glyphicon glyphicon-trash"></span></a></td></tr>';

                $("#periodic_targets_table tbody").append(markup);
            });
        });
    }
</script>