{% extends "base.html" %}

{% block page_title %}Program Indicators{% endblock %}

{% block content %}
<script>
/*
*  Load the collected data for an indicator on the results page
*/
function loadCollected(indicator,program){
    var indicator;
    $('.ajaxLoader').show();
    $.get('/indicators/collected_data_table/' + indicator + '/' + program + '/', function(data){
        $('#hidden-' + indicator).html(data);
    });
    $('.ajaxLoader').hide();
};

/*
*  Load the collected data for an indicator on the results page
*/
function loadIndicators(program,indicator,type){
    var program;
    $('.ajaxLoader').show();
    $.get('/indicators/program_indicators/' + program + '/' + indicator + '/' + type + '/', function(data){
        $('#hidden-' + program).html(data);
      });
    $('.ajaxLoader').hide();
    $('#hidden-' + program).on('shown', function () {
       $(".icon-chevron-down").removeClass("icon-chevron-down").addClass("icon-chevron-up");
    });

    $('#hidden-' + program).on('hidden', function () {
       $(".icon-chevron-up").removeClass("icon-chevron-up").addClass("icon-chevron-down");
    });
};
</script>

{% include "indicators/filter.html"%}

<!-- Default panel contents -->
{% if getProgramsIndicator %}
    {% for program in getProgramsIndicator %}
        <div class='panel panel-default'>
            <div class='panel-heading'><h4>{{ program.name|truncatechars:85 }}<span style="float: right;" class="btn-group" role="group"><a href="/indicators/indicator_create/{{ program.id }}/" class="btn btn-xs btn-success">New Indicator</a><a href="/indicators/program_report/{{ program.id }}/" class="btn btn-xs btn-info">Grid/Print Report</a></span></h4></div>
            {% if not program.indicator_set.all %}
                <div class='panel-body'>
                    <h4>No Indicators have been entered for this program</h4>
                    <p>Add a new indicator via the "<a href="/indicators/indicator_create/{{ program.id }}/">New Indicator</a>" button above.</p>
                </div>
            {% else %}
                <div class='panel-body'>
                    <a onclick="loadIndicators({{ program.id }},{{indicator}},{{type}})" class="btn btn-sm btn-success" data-toggle="collapse" data-target="#hidden-{{ program.id }}">{{ program.indicator_count }} Indicators </a>
                </div>
                <div id="hidden-{{ program.id }}" class="accordian-body collapse">
                    {% include "indicators/program_indicators_table.html" %}
                </div>
            {% endif %}
        </div>

    {% endfor %}
{% else %}
    <p>No Programs</p>
{% endif %}
<script type="text/javascript">
    var program_id = document.URL.split('/')[5];
    var indicator_id = document.URL.split('/')[6];
    var type_id = document.URL.split('/')[7];
    $(document).ready(function() {
        if (typeof program_id !== 'undefined' && program_id > 0) {
            console.log("coolapseing");
            var a = $('#hidden-68').collapse('hide');
            loadIndicators(program_id, 0, 0);
            a.collapse('show');
            console.log(a);
        }
    });
    function program_filter(program_id) {
      window.location.href = '/indicators/home/'+program_id+'/0/0/';
      }

    function indicator_filter(indicator) {
      window.location.href = '/indicators/home/'+program_id+'/'+indicator+'/0';
        }

    function indicator_type_filter(type) {
      window.location.href = '/indicators/home/'+program_id+'/'+indicator_id+'/'+type;
      }

 </script>
{% endblock content %}