{% load widget_tweaks %}
{% load mytags %}
{% load i18n %}
    <form
        action="{% url 'indicator_update' indicator.id %}"
        id="indicator_update_form"
        class="form-horizontal"
        method="post"
        novalidate>
    <div class="modal-body" id="indicator_modal_body">

        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <ul class="nav nav-tabs" id="indicatorTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#summaryTab" role="tab" data-toggle="tab">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#performanceTab" role="tab" data-toggle="tab">Performance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#targetsTab" role="tab" data-toggle="tab">Targets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#dataAcquisitionTab" role="tab" data-toggle="tab">Data Acquisition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#analysisReportingTab" role="tab" data-toggle="tab">Analysis and Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#approvalTab" role="tab" data-toggle="tab">Approval</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="summaryTab">
                <br>
                <fieldset>
                    <div class="form-row mb-3" id="div_id_program">
                        <label for="id_program2" class="col-sm-4 col-form-label" align="right">{{ form.program.label }}</label>
                        <div class="col-sm-7">
                            {% render_field form.program2 class+="form-control" %}
                            <small class="form-text text-muted">{{ form.program.help_text }}</small>
                            <span id="validation_id_program" class="has-error"></span>
                        </div>
                    </div>

                    <!-- <div class="form-row mb-2" id="div_id_program">
                        <label for="id_program" class="col-sm-4 col-form-label" align="right">{{ form.program.label }}</label>
                        <div class="col-sm-7">
                            {% render_field form.program class+="form-control" %}
                            <small class="form-text text-muted">{{ form.program.help_text }}</small>
                        </div>
                    </div> -->

                    <div class="form-row mb-3" id="div_id_sector">
                        <label for="id_sector" class="col-sm-4 col-form-label" align="right">{{ form.sector.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.sector class+="form-control" %}
                            <small class="form-text text-muted">{{ form.sector.help_text }}</small>
                            <span id="validation_id_sector" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_objectives">
                        <label for="id_objectives" class="col-sm-4 col-form-label" align="right">{{ form.objectives.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.objectives class+="form-control" %}
                            <small class="form-text text-muted">{{ form.objectives.help_text }}</small>
                            <span id="validation_id_objectives" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_strategic_objectives">
                        <label for="id_strategic_objectives" class="col-sm-4 col-form-label" align="right">{{ form.strategic_objectives.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.strategic_objectives class+="form-control" %}
                            <small class="form-text text-muted">{{ form.strategic_objectives.help_text }}</small>
                            <span id="validation_id_strategic_objectives" class="has-error"></span>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="performanceTab" name="Performance tab">
                <br>
                <fieldset>
                    <div class="form-row mb-3" id="div_id_name">
                        <label for="id_name" class="col-sm-4 col-form-label" align="right">{{ form.name.label }}* </label>
                        <div class="col-sm-7">
                            {% render_field form.name class+="form-control" %}
                            <small class="form-text text-muted">{{ form.name.help_text }}</small>
                            <span id="validation_id_name" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_level">
                        <label for="id_level" class="col-sm-4 col-form-label" align="right">{{ form.level.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.level class+="form-control" %}
                            <small class="form-text text-muted">{{ form.level.help_text }}</small>
                            <span id="validation_id_level" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_number">
                        <label for="id_number" class="col-sm-4 col-form-label" align="right">{{ form.number.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.number class+="form-control" %}
                            <small class="form-text text-muted">{{ form.number.help_text }}</small>
                            <span id="validation_id_number" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_source">
                        <label for="id_source" class="col-sm-4 col-form-label" align="right">{{ form.source.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.source class+="form-control" %}
                            <small class="form-text text-muted">{{ form.source.help_text }}</small>
                            <span id="validation_id_source" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_definition">
                        <label for="id_definition" class="col-sm-4 col-form-label" align="right">{{ form.definition.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.definition class+="form-control" %}
                            <small class="form-text text-muted">{{ form.definition.help_text }}</small>
                            <span id="validation_id_definition" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_justification">
                        <label for="id_justification" class="col-sm-4 col-form-label" align="right">{{ form.justification.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.justification class+="form-control" %}
                            <small class="form-text text-muted">{{ form.justification.help_text }}</small>
                            <span id="validation_id_justification" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_disaggregation">
                        <label for="id_disaggregation" class="col-sm-4 col-form-label" align="right">{{ form.disaggregation.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.disaggregation class+="form-control" %}
                            <small class="form-text text-muted">{{ form.disaggregation.help_text }}</small>
                            <span id="validation_id_disaggregation" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_indicator_type">
                        <label for="id_indicator_type" class="col-sm-4 col-form-label" align="right">{{ form.indicator_type.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.indicator_type class+="form-control" %}
                            <small class="form-text text-muted">{{ form.indicator_type.help_text }}</small>
                            <span id="validation_id_indicator_type" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_key_performance_indicator">
                        <label for="id_key_performance_indicator" class="col-sm-4 col-form-label" align="right"></label>
                        <div class="col-sm-7">
                            {{ form.key_performance_indicator }}
                            <label for="id_key_performance_indicator" class="col-form-label">{{ form.key_performance_indicator.label }}</label>
                            <small class="form-text text-muted">{{ form.key_performance_indicator.help_text }}</small>
                            <span id="validation_id_key_performance_indicator" class="has-error"></span>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="targetsTab" name="Targets tab">
                <br>
                <fieldset>
                    <div class="form-row mb-3" id="parent_div_id_unit_of_measure">
                        <label for="id_unit_of_measure" class="col-sm-4 col-form-label" align="right">{{ form.unit_of_measure.label }} </label>
                        <div class="col-sm-7">
                            <div class="card inputs-in-a-box" id="fieldgroup_id_unit_of_measure">
                                <div class="card-body p-2">
                                    <div id="div_id_unit_of_measure">
                                        {% render_field form.unit_of_measure class+="form-control" %}
                                        <small class="form-text text-muted">{{ form.unit_of_measure.help_text }}</small>
                                        <span id="validation_id_unit_of_measure" class="has-error"></span>
                                    </div>

                                    {% for ut in form.unit_of_measure_type %}
                                        {% with id=form.unit_of_measure_type.auto_id %}
                                            <div class="form-check form-check-inline pt-1"
                                                 id="div_{{ id }}_{{ forloop.counter0 }}">
                                                <span class="form-check-input ">
                                                    {{ ut.tag }}
                                                </span>
                                                <label class="form-check-label" for="{{ ut.id_for_label }}">{{ ut.choice_label }} </label>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                            <small class="form-text text-muted">{{ form.unit_of_measure.help_text }}</small>
                            <span id="validation_id_unit_of_measure" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="parent_div_id_lop_target">
                        <label for="id_lop_target" class="col-sm-4 col-form-label" align="right">{{ form.lop_target.label }} </label>
                        <div class="col-sm-7">
                            <div class="card inputs-in-a-box" id="fieldgroup_id_lop_target">
                                <div class="card-body p-2">
                                    <div id="div_id_lop_target">
                                        <!-- {% render_field form.lop_target class+="form-control" %} -->
                                        <span id="span_{{ form.lop_target.id_for_label }}">
                                            <input type="number"
                                                    name="{{ form.lop_target.name }}"
                                                    id="{{ form.lop_target.id_for_label }}"
                                                    class="form-control"
                                                    min="1"
                                                    {% if form.lop_target.value != None %} value="{{ form.lop_target.value|stringformat:'s' }}"{% endif %}
                                                    required
                                                    onblur="this.checkValidity();">
                                        </span>
                                        <small class="form-text text-muted">{{ form.lop_target.help_text }}</small>
                                        <span id="validation_id_lop_target" class="has-error"></span>
                                    </div>
                                    {% render_field form.direction_of_change class+="form-control" style="width:70%;" %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_rationale_for_target">
                        <label for="id_rationale_for_target" class="col-sm-4 col-form-label" align="right">{{ form.rationale_for_target.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.rationale_for_target class+="form-control" %}
                            <small class="form-text text-muted">{{ form.rationale_for_target.help_text }}</small>
                            <span id="validation_id_rationale_for_target" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_baseline">
                        <label for="id_baseline" class="col-sm-4 col-form-label" align="right">{{ form.baseline.label }} </label>
                        <div class="col-sm-7">
                            <div class="card inputs-in-a-box"  id="groupfield_id_baseline">
                                <div class="card-body p-2">
                                    <div id="div_id_baseline">
                                        <span id="span_{{ form.baseline.id_for_label }}">
                                            <input type="number"
                                                    name="{{ form.baseline.name }}"
                                                    id="{{ form.baseline.id_for_label }}"
                                                    class="form-control"
                                                    min="0"
                                                    {% if form.baseline.value != None %} value="{{ form.baseline.value|stringformat:'s' }}"{% endif %}
                                                    onblur="this.checkValidity();">
                                        </span>
                                        <small class="form-text text-muted">{{ form.baseline.help_text }}</small>
                                        {{ form.baseline_na }} <label for="id_baseline_na" class="col-form-label"> {{ form.baseline_na.label}}</label>
                                    </div>
                                    <span id="validation_id_baseline" class="has-error"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_target_frequency">
                        <label for="id_target_frequency" class="col-sm-4 col-form-label" align="right">{{ form.target_frequency.label }}* </label>
                        <div class="col-sm-7">
                            {% render_field form.target_frequency class+="form-control" %}
                            <small class="form-text text-muted">{{ form.target_frequency.help_text }}</small>
                            <span id="validation_id_target_frequency" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_target_frequency_start">
                        <label for="id_target_frequency_start" class="col-sm-4 col-form-label" align="right">{{ form.target_frequency_start.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.target_frequency_start class+="form-control" %}
                            <small class="form-text text-muted">{{ form.target_frequency_start.help_text }}</small>
                            <span id="validation_id_target_frequency_start" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_target_frequency_custom">
                        <label for="id_target_frequency_custom" class="col-sm-4 col-form-label" align="right">{{ form.target_frequency_custom.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.target_frequency_custom class+="form-control" %}
                            <small class="form-text text-muted">{{ form.target_frequency_custom.help_text }}</small>
                            <span id="validation_id_target_frequency_custom" class="has-error"></span>
                        </div>
                    </div>


                    <div class="form-row mb-3" id="div_id_target_frequency_num_periods">
                        <label for="id_target_frequency_num_periods" class="col-sm-4 col-form-label" align="right">{{ form.target_frequency_num_periods.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.target_frequency_num_periods class+="form-control" %}
                            <small class="form-text text-muted">{{ form.target_frequency_num_periods.help_text }}</small>
                            <span id="validation_id_target_frequency_num_periods" class="has-error"></span>
                        </div>
                    </div>

                    <div id="div_id_create_targets_btn" class="form-row mb-3">
                         <label for="id_create_targets_btn" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-7">
                            <button type="button" id="id_create_targets_btn" class="btn btn-sm btn-primary">Create targets</button>
                            <button type="button" id="id_delete_targets_btn" class="btn btn-sm btn-link">Remove all targets</button>
                        </div>
                    </div>

                    <div id="id_div_periodic_tables_placeholder">
                        {% include "indicators/indicatortargets.html" %}
                    </div>

                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="dataAcquisitionTab">
                <fieldset>
                    <br>
                    <div class="form-row mb-3" id="div_id_means_of_verification">
                        <label for="id_means_of_verification" class="col-sm-4 col-form-label" align="right">{{ form.means_of_verification.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.means_of_verification class+="form-control" %}
                            <small class="form-text text-muted">{{ form.means_of_verification.help_text }}</small>
                            <span id="validation_id_means_of_verification" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_data_collection_method">
                        <label for="id_data_collection_method" class="col-sm-4 col-form-label" align="right">{{ form.data_collection_method.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.data_collection_method class+="form-control" %}
                            <small class="form-text text-muted">{{ form.data_collection_method.help_text }}</small>
                            <span id="validation_id_data_collection_method" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_data_collection_frequency">
                        <label for="id_data_collection_frequency" class="col-sm-4 col-form-label" align="right">{{ form.data_collection_frequency.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.data_collection_frequency class+="form-control" %}
                            <small class="form-text text-muted">{{ form.data_collection_frequency.help_text }}</small>
                            <span id="validation_id_data_collection_frequency" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_data_points">
                        <label for="id_data_points" class="col-sm-4 col-form-label" align="right">{{ form.data_points.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.data_points class+="form-control" %}
                            <small class="form-text text-muted">{{ form.data_points.help_text }}</small>
                            <span id="validation_id_data_points" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_responsible_person">
                        <label for="id_responsible_person" class="col-sm-4 col-form-label" align="right">{{ form.responsible_person.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.responsible_person class+="form-control" %}
                            <small class="form-text text-muted">{{ form.responsible_person.help_text }}</small>
                            <span id="validation_id_responsible_person" class="has-error"></span>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="analysisReportingTab">
                <br>
                <fieldset>
                    <div class="form-row mb-3" id="div_id_method_of_analysis">
                        <label for="id_method_of_analysis" class="col-sm-4 col-form-label" align="right">{{ form.method_of_analysis.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.method_of_analysis class+="form-control" %}
                            <small class="form-text text-muted">{{ form.method_of_analysis.help_text }}</small>
                            <span id="validation_id_method_of_analysis" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_information_use">
                        <label for="id_information_use" class="col-sm-4 col-form-label" align="right">{{ form.information_use.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.information_use class+="form-control" %}
                            <small class="form-text text-muted">{{ form.information_use.help_text }}</small>
                            <span id="validation_id_information_use" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_reporting_frequency">
                        <label for="id_reporting_frequency" class="col-sm-4 col-form-label" align="right">{{ form.reporting_frequency.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.reporting_frequency class+="form-control" %}
                            <small class="form-text text-muted">{{ form.reporting_frequency.help_text }}</small>
                            <span id="validation_id_reporting_frequency" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_quality_assurance">
                        <label for="id_quality_assurance" class="col-sm-4 col-form-label" align="right">{{ form.quality_assurance.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.quality_assurance class+="form-control" %}
                            <small class="form-text text-muted">{{ form.quality_assurance.help_text }}</small>
                            <span id="validation_id_quality_assurance" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_data_issues">
                        <label for="id_data_issues" class="col-sm-4 col-form-label" align="right">{{ form.data_issues.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.data_issues class+="form-control" %}
                            <small class="form-text text-muted">{{ form.data_issues.help_text }}</small>
                            <span id="validation_id_data_issues" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_indicator_changes">
                        <label for="id_indicator_changes" class="col-sm-4 col-form-label" align="right">{{ form.indicator_changes.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.indicator_changes class+="form-control" %}
                            <small class="form-text text-muted">{{ form.indicator_changes.help_text }}</small>
                            <span id="validation_id_indicator_changes" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_comments">
                        <label for="id_comments" class="col-sm-4 col-form-label" align="right">{{ form.comments.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.comments class+="form-control" %}
                            <small class="form-text text-muted">{{ form.comments.help_text }}</small>
                            <span id="validation_id_comments" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_notes">
                        <label for="id_notes" class="col-sm-4 col-form-label" align="right">{{ form.notes.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.notes class+="form-control" %}
                            <small class="form-text text-muted">{{ form.notes.help_text }}</small>
                            <span id="validation_id_notes" class="has-error"></span>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="approvalTab">
                <br>
                <fieldset>

                    <div class="form-row mb-3" id="div_id_approval_submitted_by">
                        <label for="id_approval_submitted_by" class="col-sm-4 col-form-label" align="right">{{ form.approval_submitted_by.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.approval_submitted_by class+="form-control" %}
                            <small class="form-text text-muted">{{ form.approval_submitted_by.help_text }}</small>
                            <span id="validation_id_approval_submitted_by" class="has-error"></span>
                        </div>
                    </div>

                    <div class="form-row mb-3" id="div_id_approved_by">
                        <label for="id_approved_by" class="col-sm-4 col-form-label" align="right">{{ form.approved_by.label }} </label>
                        <div class="col-sm-7">
                            {% render_field form.approved_by class+="form-control" %}
                            <small class="form-text text-muted">{{ form.approved_by.help_text }}</small>
                            <span id="validation_id_approved_by" class="has-error"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div> <!-- modal body -->
    <div class="modal-footer justify-content-between" style="background-color: #DBDCDE;">
        <div>
            <!-- <input type="submit" class="btn btn-primary" value="Save changes"> -->
            <input type="submit" name="submit" value="{% trans "SAVE CHANGES" %}" class="btn btn-primary mx-2" id="submit-id-submit">
            <input type="reset" class="btn btn-light" value="{% trans "RESET" %}">
        </div>
        <div class="text-muted">{% include "form_guidance.html" %}</div>
    </div>
</form>

<script>

    /*
    Adds/removes the percent symbol to the LOP_TARGET and BASELINE fields
    if the UNIT_OF_MEASURE_TYPE is set to Number (#)
    params:
        - unit_of_measure_type:
            1 = Number (#)
            2 = Percentage (%)
    */
    function togglePercentSymbol(unit_of_measure_type){
        var unit_of_measure_type = parseInt(unit_of_measure_type);

        if (unit_of_measure_type == 2) { // 2 is for percente option
            $("#span_id_lop_target").addClass('input-symbol-percent')
            $("#span_id_baseline").addClass('input-symbol-percent');

            // add the % sign to target values
            $("#periodic_targets_table input[data-periodictarget]").each(function(index, element) {
                $(element).addClass('pr-4');
                $(element).parent().addClass('input-symbol-percent');
            });
        } else {
            $("#span_id_lop_target").removeClass('input-symbol-percent')
            $("#span_id_baseline").removeClass('input-symbol-percent');

            // remove the % sign from target values
            $("#periodic_targets_table input[data-periodictarget]").each(function(index, element) {
                $(element).removeClass('pr-4');
                $(element).parent().removeClass('input-symbol-percent');
            });
        }
    }

    /*
    toggles the label text of the is_cumulative radio inputs depending on
    whether the unit_of_measure_type of the indicator.
    params:
        - unit_of_measure_type: it can have two possible values
            1 = Number (#)
            2 = Percentage (%)

    This function also uses is_cumulative, which has one of these values:
        - 1 = None
        - 2 = Cumulative
        - 3 = Non-cumulative
    */
    function toggleCummulativeOptions(unit_of_measure_type) {
        // the top option is always the default option
        $("#id_is_cumulative_1").prop('checked', 'checked');

        if (unit_of_measure_type == 2) {
            $("#id_span_is_cumulative_header").text("OPTIONS FOR PERCENTAGE (%) INDICATORS");
            $("#id_is_cumulative_1").val(2);
            $("#id_is_cumulative_2").val(3);
            $("label[for=id_is_cumulative_1]").html("CUMULATIVE (C): The Life of Program result mirrors the latest period value. No automatic calculations are performed with collected data.");
            $("label[for=id_is_cumulative_2]").html("NON-CUMULATIVE (NC): The Life of Program result is the average of target period values. No other automatic calculations are performed.");
        } else {
            $("#id_span_is_cumulative_header").text("OPTIONS FOR NUMBER (#) INDICATORS");
            $("#id_is_cumulative_1").val(3);
            $("#id_is_cumulative_2").val(2);
            $("label[for=id_is_cumulative_1]").html("NON-CUMULATIVE (NC): Target period results are automatically calculated from data collected during the period. The Life of Program result is the sum of target period values.");
            $("label[for=id_is_cumulative_2]").html("CUMULATIVE (C): Target period results automatically include data from previous periods. The Life of Program result mirrors the latest period value.");

        }
    }

    /*
    Calculates the sum and count of all targets
    */
    function getTargetsSumAndNum() {
        let sum = 0;
        let num = 0;
        let targetValue;
        $("#periodic_targets_table input[data-periodictarget]").each(function() {
            targetValue = parseFloat($(this).val());
            if (isNaN(targetValue)) {
                targetValue = 0;
            }
            sum += targetValue;
            num += 1;
        });
        return [sum, num];
    }

    /*
    Calculates the average of all targets
    */
    function getTargetsAverage() {
        var sumAndNum = getTargetsSumAndNum();
        var avgTargets = sumAndNum[0]/sumAndNum[1];
        avgTargets = parseFloat(avgTargets).toFixed(2).replace(/[.,]00$/, "");
        return avgTargets;
    }

    /*
    Toggles the Aggregate (Totals) row of the targets table depending on
    whether the indicator is set as CUMULATIVE or NON-CUMULATIVE
    */
    function toggleTargetsSumOrAvgRow(cumulative=null) {
        var is_cumulative = cumulative == null ? $("input[type='radio'][name='is_cumulative']:checked").val() : cumulative;
        if (is_cumulative == 2) {
            $("#pt_sum_targets").hide();
        } else {
            $("#pt_sum_targets").show();
        }
    }

    /*
    Update the periodic_targets totals row depending on whether it a
    Number (#) indicator or Percentage (%) indicator
    */
    function updateAggregateRowValueAndLabel(cumulative=null) {
        toggleTargetsSumOrAvgRow();
        var unit_of_measure_type = $("#id_unit_of_measure_type_1").is(":checked") ? 2 : 1;
        if (unit_of_measure_type == 2) {  // if unit_type is percent (%)
            var targetsAvg = getTargetsAverage();
            $("#id_span_label_targets_sum").text("Average of targets");
            $("#id_span_targets_sum").text(targetsAvg );
            $("#id_span_targtsaggregate_percent_sign").text("%");
            $("#id_span_loptarget_percent_sign").text("%");
        } else { // if unit_type is Number (#)
            var targetsSum = getTargetsSumAndNum()[0];
            $("#id_span_label_targets_sum").text("Sum of targets");
            $("#id_span_targets_sum").text(targetsSum);
            $("#id_span_targtsaggregate_percent_sign").text("");
            $("#id_span_loptarget_percent_sign").text("");
        }

    }

    $( document ).ready(function() {
        var unit_of_measure_type = $("#id_unit_of_measure_type_1").is(":checked") ? 2 : 1;
        togglePercentSymbol(unit_of_measure_type);
        toggleTargetsSumOrAvgRow();
    });

    /*
    Listen for change event of the UNIT_OF_MEASURE_TYPE radio buttons and
    toggle Percent sign and cumulative options accordingly.
    #id_fieldgroup_unit_of_measure
    */
    $("#indicator_modal_content, #indicator_form").on("change", ":input[name='unit_of_measure_type']", function(e){
        var unit_of_measure_type = parseInt(e.target.value);
        togglePercentSymbol(unit_of_measure_type);
        toggleCummulativeOptions(unit_of_measure_type);
        updateAggregateRowValueAndLabel();
    });


    /*
    Listen for value changes in periodic targets and recalculate the targets
    sum or targets average
    #periodic-targets-tablediv
    */
    $("#indicator_modal_content, #indicator_form").on("blur", "#periodic_targets_table input[data-periodictarget]", function(e) {
        updateAggregateRowValueAndLabel();
    });


    /*
    Listen for change event of the IS_CUMULATIVE radio buttons and toggle the
    targets_sum row accordingly.
    #id_div_is_cumulative
    */
    $("#indicator_modal_content, #indicator_form").on("change", ":input[type='radio'][name='is_cumulative']", function(e){
        updateAggregateRowValueAndLabel(e.target.value);
    });

    /*
    var alerts = {};

    function setTabAlert(tabId, tabName){
        alerts[tabId] = 'Please complete all required fields in the ' + tabName;
    }

    function unSetTabAlert(tabId){
        delete alerts[tabId];
    }

    function showAlerts(messagesDiv) {
        var msg = '';
        $.each(alerts, function(k,v) {
            msg += v + '<br>';
        });
        $(messagesDiv).empty();
        if (!jQuery.isEmptyObject(alerts)) {
            createAlert('danger', msg, false, messagesDiv);
        }
        alerts = {};
    }

    $("#indicator_update_form").on("blur", ":input", function(e){
        var isvalid = e.target.validity.valid;
        var element = $(e.target);
        var elementId = element.attr('id');
        // console.log(element.attr('id'), isvalid);

        element.parent().addClass('was-validated');
        $('label[for="'+ elementId + '"]').toggleClass('has-error', !isvalid);
        if (isvalid == false) {
            var tabPane = element.closest('.tab-pane');
            var tabId = tabPane.attr('id');
            var tabName = tabPane.attr('name');
            setTabAlert(tabId, tabName);
        }

        if (elementId == 'id_baseline' || elementId == 'id_baseline_na') {
            $('label[for="id_baseline_na"]').toggleClass('has-error', !isvalid);
            $('label[for="id_baseline"]').toggleClass('has-error', !isvalid);
        }
    });

    $("#indicator_modal_content").on("submit", "#indicator_update_form", function(e){
        e.preventDefault();
        var form = e.target;
        form.classList.add('was-validated');

        if (form.checkValidity() == false) {
            const tabs = $(".tab-pane");
            $.each(tabs, (i, tab) => {
                const tabId = tab.id;
                const tabName = $(tab).attr('name');
                if ($(tab).find('.form-control:invalid').length > 0) {
                    setTabAlert(tabId, tabName);
                } else {
                    unSetTabAlert(tabId);
                }
            });
            showAlerts("#modalmessages");
        }

    });
    */

</script>
