{% load crispy_forms_tags %}
<div id="numDataPoints" style="display: none;">{{ object.collecteddata_set.all.count }}</div>
<div id="initialTargetFrequencyValue" style="display:none;">{{ object.target_frequency }}</div>
<form action="{% url 'indicator_update' indicator.id %}" id="indicator_update_form" class="form-horizontal" method="post" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id = "modalmessages"></span>
        <div style="padding-top: 10px;"><h3> {{ indicator.name }} </h3></div>
    </div>
    <div class="modal-body" id="indicator_modal_body">
        <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
        <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/tola-indicator.css" rel="stylesheet" />
        <script type="text/javascript">
            //Searchable select option for service indicator
            $(document).ready(function() {
                /* add select2 js library to the indicator select box */
                $("#id_program").select2().on("select2:selecting select2:unselecting", function(e) {
                    e.preventDefault();
                });
                $("#id_strategic_objectives").select2();
            });
        </script>

        {% crispy form %}
    </div> <!-- modal body -->
    <div class="modal-footer" style="background-color: #cccccc;">
        <div class="pull-left">
            <!-- <input type="submit" class="btn btn-primary" value="Save changes"> -->
            <input type="submit" name="submit" value="Save changes" class="btn btn-primary btn-default" id="submit-id-submit">
            <input type="reset" style="background-color: #ddd;" class="btn btn-default" value="Reset">
        </div>
        <div class="text-muted">{% include "form_guidance.html" %}</div>
    </div>
</form>
