{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Reports</li>
</ol>
{% include "indicators/filter.html"%}

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Report{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}
<br/>

{% render_table get_agreements %}

<br/>

<button type="submit" class="btn btn-success" onClick="location.href='/indicators/export/0/{{ program }}/0/'">Export All</button>
<script type="text/javascript">
    function program_filter(program_id) {
      window.location.href = '/indicators/report/'+program_id+'/0/0/';      
      }

    function indicator_filter(indicator) {
      window.location.href = '/indicators/report/0/'+indicator+'/0';  
        }

    function indicator_type_filter(type) {
      window.location.href = '/indicators/report/0/0/'+type;      
      }
 </script>

{% endblock content %}