{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/">Indicators</a></li>
  <li class="active">Reports</li>
</ol>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/report/0"> -- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/report/{{ program.id }}">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
    </ul>
</div>
<br/>
{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Report{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}
<br/>

{% render_table get_agreements %}

<br/>

<button type="submit" class="btn btn-success" onClick="location.href=''">Export All</button>

{% endblock content %}