{% extends "base.html" %}

{% block content %}

        <div class="main__panel__top">
            <a href="{% url 'logout' %}" class="text--red">Log Out</a>
        </div>
        <div class="app-page">
            <img src="{{ STATIC_URL }}v2-assets/src/img/t-shape-colors.svg" alt="" class="mx-auto login__logo">

            <h3 class="text-center">TolaData</h3>
            <p class="mb-4">
                Welcome: <span class="font-weight-bold">{{ request.user}}!</span><br />
                <span class="text--small">You have successfuly logged in to TolaData.  Now you can...</span>
            </p>

            <div class="row">
                <div class="col-md-6">
                  <a href="{{ tolaactivity_url }}" class="card app-page__card logo-app text-center">
                      <img src="{{ STATIC_URL }}v2-assets/src/img/svg-activity.svg" height="46" class="logo-app__image">
                      <span class="logo-app__caption">Activity</span>
                      <p class="app-description">Use Activity to manage, organize and share project activites and more...</p>
                  </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ tolatrack_url }}" class="card app-page__card logo-app text-center">
                        <img src="{{ STATIC_URL }}v2-assets/src/img/svg-track.svg" height="46" class="logo-app__image">
                        <span class="logo-app__caption">Track</span>

                        <p class="app-description">Use Track to collect and manage your multiple datasets.</p>
                    </a>
                </div>
            </div>

            <div class="message mt-5">
                 {% if "demo" in request.build_absolute_uri %}
                    <h4 class="text-center">This is a Demonstration server and account.</h4>
                    <p class="text-center">All data will be deleted from the server every 7 days.</p>
                 {% endif %}
            </div>
        </div>

{% endblock content %}
