{% extends "base.html" %}

{% block content %}



    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h4>TolaData</h4>
                    <p>
                        Welcome: {{ request.user}}!</br>
                        You have successfuly logged in to TolaData.  Now you can...
                    </p>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="thumbnail">
                              <a href="{{ getsite.tola_activity_url }}">
                                <img src="{{ STATIC_URL}}/img/TolaActivity.svg" width="200">
                              </a>
                              <div class="caption">
                                  <h3><a href="{{ getsite.tola_activity_url }}">Activity</a></h3>
                                <p>Use Activity to manage, organize and share project activites and more...</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <a href="{{ getsite.tola_tables_url }}">
                                    <img src="{{ STATIC_URL}}/img/TolaTables.svg" width="200">
                                </a>
                              <div class="caption">
                                  <h3><a href="{{ getsite.tola_tables_url }}">Track</a></h3>
                                <p>Use Track to collect and manage your multiple datasets.</p>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}
