{% extends "base.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

<!-- layout-specific content modules-->



{% block page_title %}Dashboard List{% endblock %}

{% block content %}
<div>
<a href='/configureabledashboard/add/{{pk}}' class="btn btn-large btn-success">New Custom Dashboard</a> &nbsp;
<hr/>
<br/>
</div>
<h3>Current Dashboards</h3>

<table class="table">
    {% if getCustomDashboards %}
    <tr>
        <th>Date Created</th>
        <th>Dashboard Name</th>
        <th>Dashboard Description</th>
        <th>Public?</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% endif %}
    {% for dashboard in getCustomDashboards %}
    <tr>
       <td>{{ dashboard.create_date }}</td>       
       <td>{{ dashboard.dashboard_name }}</td>
       <td>{{ dashboard.dashboard_description }}</td>
       <td>{{ dashboard.is_public }}</td>
        <td> <a href="/configureabledashboard/detail/{{ dashboard.id }}" class="btn btn-xs btn-danger">View</a></td>
        <td> <a href="/configureabledashboard/update/{{ dashboard.id }}" class="btn btn-xs btn-danger">Edit</a></td>
        <td> <a href="/configureabledashboard/delete/{{ dashboard.id }}" class="btn btn-xs btn-danger">Delete</a></td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Custom Dashboards.</li>
    {% endfor %}
</table>

{% endblock content %}