{% load staticfiles %}
{% load static %}
{% load group_tag %}
{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="TolaData - TolaActivity: Putting Adaptive Management into Practice">
        <meta name="author" content="TolaData">

        <title>{% block title %} TolaActivity {% endblock %}</title>

        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <!-- Datatables css for HTML tables -->
        <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Bootstrap -->
        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->

        <!-- Dynatable -->
        <link rel="stylesheet" href="{% static 'css/select2.min.css' %} ">

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!-- Custom CSS -->
        <link href="{% static 'css/app_bootstrap_overrides.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">

        <!--- Django Tables2 css -->
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">

        <!-- Hosted Leaflet CSS -->
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">

        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        {% block extra_js_in_header %}

        <!-- App specific Javascript -->
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <!-- Hosted Leaflet -->
        <script src="{% static 'js/leaflet.js' %}"></script>

        {% endblock %}

    </head>
    <body>

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
    </form>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>&nbsp;
                <div class="d-flex flex-column" style="flex-grow:1;">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img style="margin-top: -3px; max-width: 140px;" src="{% static 'img/tola-activity-primary-mark-white.png' %}" />
                        </a>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarWorkflowDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Workflow" %}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarWorkflowDropdown">
                                    <a class="dropdown-item" href="/workflow/dashboard/0/">{% trans "Program Index" %}</a>
                                    <a class="dropdown-item" href="/workflow/documentation_list/0/0/">{% trans "Documents" %}</a>
                                    <a class="dropdown-item" href="/workflow/siteprofile_list/0/0/">{% trans "Sites" %}</a>
                                    <a class="dropdown-item" href="/workflow/stakeholder_list/0/0">{% trans "Stakeholders" %}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'indicator_list' 0 0 0 %}">{% trans "Indicators" %}</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarReportsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Reports" %}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarReportsDropdown">
                                    <a class="dropdown-item" href="{% url 'iptt_quickstart' %}">{% trans "Indicator Performance Tracking Table" %}</a>
                                    <a class="dropdown-item" href="/reports/report/">{% trans "Program Report" %}</a>
                                    <a class="dropdown-item" href="/customdashboard/program_list/0/">{% trans "Program Dashboards" %}</a>
                                    <a class="dropdown-item" href="/workflow/report/0/none">{% trans "Project Report" %}</a>
                                    <a class="dropdown-item" href="{% url 'collecteddata_list' 0 0 0 %}">{% trans "Indicator Data Report" %}</a>
                                    <a class="dropdown-item" href="{% url 'indicator_data_report' 0 0 0 %}">{% trans "Indicator Visual Report" %}</a>
                                    <a class="dropdown-item" href="{% url 'indicator_report' 0 0 0 %}">{% trans "Indicator Library" %}</a>
                                    <a class="dropdown-item" href="{% url 'tvareport' %}">{% trans "Target vs Actual Report" %}</a>
                                    <a class="dropdown-item" href="{% url 'disrep' 0 %}">{% trans "Indicator Disaggregation Report" %}</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated  %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if "demo" in request.build_absolute_uri %}
                                            <span class="badge badge-danger">DEMO SERVER</span>
                                        {% elif  "127." in request.build_absolute_uri %}
                                            <span class="badge badge-danger">LOCAL SERVER</span>
                                        {% elif "dev" in request.build_absolute_uri %}
                                            <span class="badge badge-danger">DEV SERVER</span>
                                        {% elif "report" in request.build_absolute_uri %}
                                            <span class="badge badge-danger">REPORT SERVER</span>
                                        {% elif "local" in request.build_absolute_uri %}
                                            <span class="badge badge-danger">LOCAL</span>
                                        {% endif %}
                                        {{ user.tola_user.name }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarProfileDropdown">
                                        <a class="dropdown-item" id="id_profile_link" href="{% url 'profile' %}">{% trans Profile %}</a>
                                        <a class="dropdown-item" id="id_profile_link2" href="{% url 'profile' %}">{{ user.tola_user.countries_list }}</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="nvarbarLoginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="nvarbarLoginDropdown">
                                        {% if report_server == True or non_ldap == True%}
                                            <div class="social-buttons">
                                                <a class="dropdown-item" id="id_socialloginLink" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-go"><i class="fa fa-google"></i> Google</a>
                                            </div>
                                        {% endif %}
                                        <a class="dropdown-item" id="id_tolaLoginLInk" href="{% url 'login' %}">{% trans "Login with Tola account" %}</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <h4 class="mt-2 mb-0" style="color:#ffffff80;">{% block page_title %}{% endblock %}</h4>
                </div>

            </div>
        </nav>
        {% if report_wide %}
          <div>
        {% else %}
        <div class="container mt-3">
        {% endif %}
            <div id="id_div_breadcrumb">{% block bread_crumb %}{% endblock %}</div>
            <div id="alerts">
                <!-- Any messages for users -->
                {% block messages %}
                    {% if messages %}
                            {% for message in messages %}
                                    {% if 'safe' in message.tags %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% else %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% endif %}
                            {% endfor %}
                    <br>
                    {% endif %}
                {% endblock messages %}
            </div>

            <!-- Main body content -->
            <div id="id_div_content">
                {% block content %}{% endblock %}
            </div>
            {% if not user.is_authenticated  %}
                <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
            {% endif %}
        </div><!-- .container collapse -->

        <div id = "ajaxloading" class="modal ajax_loading"></div>
        <div id="footer">
            <!-- Sticky Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="text-muted"><b>Tola</b>Data</span>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="https://sites.google.com/mercycorps.org/tolauserguide/home"
                            class="text-muted"
                            target="_blank">{% trans "Documentation" %}</a> |
                        <a href="https://thehub.mercycorps.org/page/7271"
                            class="text-muted">{% trans "FAQ" %}</a> |
                        <a href="https://goo.gl/forms/VuG2UjlBeTAGdJ503"
                            class="text-muted">{% trans "Feedback" %}</a> |
                        <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE"
                            class="text-muted">{% trans "License" %}</a>
                    </div>
                </div>
            </div>
        </div><!-- .footer collapse -->

        <script
              src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
              integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
              crossorigin="anonymous"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


        <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>

        <!-- Add JQuery UI language files -->
        <script type="text/javascript" src="{% static 'js/datepicker-fr.js' %}"></script> >
        </script> 
        <!-- End JQuery UI language files -->

        

        {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
            {% include "google_analytics.html" %}
        {% endif %}

        {% block extra_js_in_body %}

        {% endblock %}
    </body>
</html>
