{% extends "base.html" %}

{% block content %}

<script src="{{ STATIC_URL }}js/highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts/js/modules/exporting.js"></script>

<script>

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Program Projects by Status {% if getFilteredName %} for {{ getFilteredName }} {% endif %}</b></p>'
        },
        xAxis: {
            categories: ['Agreements', 'Completions']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Approved, Pending or Open Projects'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal',
                point: {
                    events: {
                        click: function () {
                            location.href = this.options.ownURL;
                        }
                    }
                }
            }
        },

        series: [
        {
            name: 'Approved',
            data: [{ y:{{ agreement_approved_count }},ownURL:'/activitydb/projectagreement_list/0/' }, { y:{{ complete_approved_count }},ownURL:'/activitydb/projectcomplete_list/0/' }],
        },
        {
            name: 'Pending',
            data: [{ y:{{ agreement_wait_count }},ownURL:'/activitydb/projectagreement_list/0/' }, { y:{{ complete_wait_count }},ownURL:'/activitydb/projectcomplete_list/0/' }],
        },
        {
            name: 'Open',
            data: [{ y:{{ agreement_open_count }},ownURL:'/activitydb/projectagreement_list/0/' }, { y:{{ complete_open_count }},ownURL:'/activitydb/projectcomplete_list/0/' }],
        },

        ]

    });
});


$(function () {

    $('#container_column').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Targets v. Actuals'
        },
        subtitle: {
            text: 'Source: Indicator Results'
        },
        xAxis: {
            categories: [ {% for indicator in getQuantitativeDataSums|slice:":20" %}  '{{ indicator.indicator__number }}', {% endfor %}],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Results'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Targets',
            data: [ {% for indicator in getQuantitativeDataSums|slice:":20" %}  {{ indicator.targets }}, {% endfor %}  ],
            pointPlacement: 'on'
        }, {
            name: 'Actuals',
            data: [ {% for indicator in getQuantitativeDataSums|slice:":20" %}  {{ indicator.actuals }}, {% endfor %}   ],
            pointPlacement: 'on'
        }]
    });
});

//SPARKLINE CHART
$(function () {
    /**
     * Create a constructor for sparklines that takes some sensible defaults and merges in the individual
     * chart options. This function is also available from the jQuery plugin as $(element).highcharts('SparkLine').
     */
    Highcharts.SparkLine = function (a, b, c) {
        var hasRenderToArg = typeof a === 'string' || a.nodeName,
            options = arguments[hasRenderToArg ? 1 : 0],
            defaultOptions = {
                exporting: { enabled: false },
                chart: {
                    renderTo: (options.chart && options.chart.renderTo) || this,
                    backgroundColor: null,
                    borderWidth: 0,
                    type: 'area',
                    margin: [2, 0, 2, 0],
                    width: 120,
                    height: 20,
                    style: {
                        overflow: 'visible'
                    },
                    skipClone: true
                },
                title: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: null
                    },
                    startOnTick: false,
                    endOnTick: false,
                    tickPositions: []
                },
                yAxis: {
                    endOnTick: false,
                    startOnTick: false,
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: null
                    },
                    tickPositions: [0]
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    backgroundColor: null,
                    borderWidth: 0,
                    shadow: false,
                    useHTML: true,
                    hideDelay: 0,
                    shared: true,
                    padding: 0,
                    positioner: function (w, h, point) {
                        return { x: point.plotX - w / 2, y: point.plotY - h };
                    }
                },
                plotOptions: {
                    series: {
                        animation: false,
                        lineWidth: 1,
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        marker: {
                            radius: 1,
                            states: {
                                hover: {
                                    radius: 2
                                }
                            }
                        },
                        fillOpacity: 0.25
                    },
                    column: {
                        negativeColor: '#910000',
                        borderColor: 'silver'
                    }
                }
            };

        options = Highcharts.merge(defaultOptions, options);

        return hasRenderToArg ?
            new Highcharts.Chart(a, options, c) :
            new Highcharts.Chart(options, b);
    };

    var start = +new Date(),
        $tds = $('td[data-sparkline]'),
        fullLen = $tds.length,
        n = 0;

    // Creating 153 sparkline charts is quite fast in modern browsers, but IE8 and mobile
    // can take some seconds, so we split the input into chunks and apply them in timeouts
    // in order avoid locking up the browser process and allow interaction.
    function doChunk() {
        var time = +new Date(),
            i,
            len = $tds.length,
            $td,
            stringdata,
            arr,
            data,
            chart;



        for (i = 0; i < len; i += 1) {
            $td = $($tds[i]);
            stringdata = $td.data('sparkline');
            arr = stringdata.split('; ');
            data = $.map(arr[0].split(', '), parseFloat);
            chart = {};

            if (arr[1]) {
                chart.type = arr[1];
            }


            $td.highcharts('SparkLine', {
                series: [{
                    data: data,
                    pointStart: 1
                }],
                tooltip: {
                    headerFormat: '<span style="font-size: 10px">' + "Target" + ':</span><br/>',
                    pointFormat: '<b>{point.y}</b>'
                },
                chart: chart
            });

            n += 1;

            // If the process takes too much time, run a timeout to allow interaction with the browser
            if (new Date() - time > 500) {
                $tds.splice(0, i + 1);
                setTimeout(doChunk, 0);
                break;
            }

        }
    }
    doChunk();

});

</script>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h4>Tola-Activity Dashboard</h4>
                </div>
                <div class="col-md-4">
                    <div class="btn-group" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if selected_countries_list %} {% for item in selected_countries_list %} {{ item.country }} {%endfor%}{%else%} Country {% endif %}Dashboard
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              {%for item in countries  %}
                                 <li><a href="/{{ item.id }}/">{{ item.country }}</a></li>
                              {% endfor %}
                              <li role="separator" class="divider"></li>
                              <li><a href="/">All</a></li>
                            </ul>
                        </div>
                        <a href="/activitydb/dashboard/project/0/" class="btn btn-default btn-success">Create a Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
             <div class="panel panel-info">
                <div class="panel-heading">
                    Indicator Evidence Leaderboard
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Country</th>
                            <th>Indicator Data</th>
                            <th>W/Evidence</th>
                        </tr>
                    {%for value in count_evidence  %}
                        <tr>
                           <td>{{value.indicator__country__country}}</td>
                           <td>{{value.indicator_count}}</td>
                           <td>{{value.evidence_count}}</td>
                        </tr>
                    {%endfor%}
                    </table>
                </div>
             </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Strategic Objectives
                </div>
                <div class="panel-body">
                {% if getObjectives %}
                    <table class="table table-bordered table-striped" id="table-sparkline">
                        <tbody id="tbody-sparkline">
                        {%for value in getObjectives  %}
                            <thead>
                                <tr class="info">
                                    <th colspan="2">{{value.indicator__strategic_objectives__name}}</th>
                                </tr>
                                <tr>
                                    <th># of Indicators</th>
                                    <th>Target/Actuals</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-sparkline">
                                <tr>
                                   <th>{{value.indicators}}</th>
                                   <td data-sparkline="{{value.targets}}, {{value.actuals}};"/>
                                </tr>
                            </tbody>
                        {%endfor%}
                    </table>
                {% else %}
                    <p>No indicators currently aligned with country strategic objectives.</p>
                {% endif %}
                 </div>
             </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <!-- Extra small button group -->
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Filter Program List by Sector <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard/{% if getFilteredName %}{{ getFilteredName.id }}{% else %}0{% endif %}/0/">-- All --</a></li>
                         {%for sector in getSectors%}
                            <li class="list-group-item">
                                <a href="/dashboard/{% if getFilteredName %}{{ getFilteredName.id }}{% else %}0{% endif %}/{{ sector.id }}/">{{ sector.sector }}</a>
                            </li>
                        {%endfor%}
                      </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    {%for program in programs%}
                        <li class="list-group-item">
                            <a href="/activitydb/dashboard/{{ program.id }}/">{{ program.name }}</a>&nbsp;
                            <button type="button" class="btn btn-xs btn-success" style="float:right;" onclick="location.href='/dashboard/{{ program.id }}/{% if sector %}{{ sector }}{% else %}0{% endif %}/'"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </li>
                    {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>Sites {% if getFilteredName %} for {{ getFilteredName }} {% endif %}</b></p>
                    <style>
                        #map { height: 350px; }
                    </style>
                    <div id="map"></div>

                    {% include "small_site_profile_map.html" %}

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="container" style=" width: 100%; height: 400px; margin: 0 auto; float:right"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-20">
            <div class="panel panel-info">
                <div class="panel-heading">Indicators {% if getFilteredName %} for {{ getFilteredName }} {% endif %}</div>
                <div id="container_column" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <div class="panel-body">
                {% load render_table from django_tables2 %}
                {% render_table table %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
