{% extends "base.html" %}

{% block content %}


    {% for approval in user_pending_approvals %}
        <div class="alert alert-success fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p>Project Initiation, <span class="label label-success">{{approval}}</span>, is awaiting your <a href="/workflow/projectagreement_update/{{approval.}}/">approval</a></p>
        </div>
    {% endfor %}
        <br />
        <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">
                    <h4>TolaActivity Dashboard</h4>
                </div>

                <div class="col-md-6 col-md-offset-2">
                    <div class="btn-group" role="group">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if selected_countries_list %} {% for item in selected_countries_list %} {{ item.country }} {%endfor%}{%else%} Country {% endif %}Dashboard
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              {%for item in countries  %}
                                 <li><a href="/{{ item.id }}/">{{ item.country }}</a></li>
                              {% endfor %}
                              <li role="separator" class="divider"></li>
                              <li><a href="/">All</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="false">
                            Filter by {{ WORKFLOWLEVEL1 }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard/{% if getFilteredName %}{{ getFilteredName.id }}{% else %}0{% endif %}/0/">-- All --</a></li>
                                {%for workflowlevel1 in programs%}
                                <li class="list-group-item">
                                    <a href="/dashboard/{{ workflowlevel1.id }}/{% if sector %}{{ sector }}{% else %}0{% endif %}/">{{ workflowlevel1.name }}</a>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                        {% if report_server == False%}
                          <a href="/workflow/dashboard/project/0/" class="btn btn-default btn-sm btn-success">Create a {{ WORKFLOWLEVEL2 }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col-md-4">
             {% if report_server == True%}
             <div class="panel panel-info">
                <div class="panel-heading">
                    Indicator Evidence Leaderboard
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Country</th>
                            <th>Indicator Data</th>
                            <th>W/Evidence</th>
                        </tr>
                    {%for value in count_evidence  %}
                        <tr>
                           <td>{{value.indicator__workflowlevel1__country__country}}</td>
                           <td>{{value.indicator_count}}</td>
                           <td>{{value.evidence_count}}</td>
                        </tr>
                    {%endfor%}
                    </table>
                </div>
            </div>
            {% else %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    Indicator Evidence
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Country</th>
                            <th>Indicator Data</th>
                            <th>W/Evidence</th>
                        </tr>
                    {%for value in count_evidence  %}
                        {%for item in countries  %}
                            {% if item.country == value.indicator__program__country__country %}
                            <tr>
                               <td>{{value.indicator__program__country__country}}</td>
                               <td>{{value.indicator_count}}</td>
                               <td>{{value.evidence_count}}</td>
                            </tr>
                            {% endif %}
                        {%endfor%}
                    {%endfor%}
                    </table>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    Strategic Objectives
                </div>
                <div class="panel-body">
                {% if getObjectives %}
                    <table class="table table-bordered table-striped" id="table-sparkline">
                        <tbody id="tbody-sparkline">
                        {%for value in getObjectives  %}
                            <thead>
                                <tr class="info">
                                    <th colspan="2">{{value.indicator__strategic_objectives__name}}</th>
                                </tr>
                                <tr>
                                    <th># of Indicators</th>
                                    <th>Target</th>
                                    <th>Actuals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td>{{value.indicators}}</td>
                                   <td>{{value.targets}}</td>
                                   <td>{{value.actuals}}</td>
                                </tr>
                            </tbody>
                        {%endfor%}
                    </table>
                {% else %}
                    <p>No indicators currently aligned with country strategic objectives.</p>
                {% endif %}
                 </div>
             </div>
        </div>
        {% if report_server == True%}
        <div class="col-md-8">
            <h2>{% for country in selected_countries_label_list %}{{ country.country }}{%endfor%} Country Rollout Report</h2>
            <br/>
            <table class="table striped">
                <tr>
                    <th>
                        Milestones:
                    </th>
                    <th>
                        <span title="Red: Requires Attention, Orange: Behind Schedule, Green: On Track">Current Adoption Status</span>
                    </th>
                </tr>
                <tr>
                    <td>Adoption of Workflow</td>
                    <td class="status" bgcolor="{{ workflow_adoption }}">Total {{ WORKFLOWLEVEL1 }}s: {{ count_program}} <br/>Using Workflow: {{ count_program_agreement }} </td>
                </tr>
                <tr>
                    <td>Adoption of Indicator</td>
                    <td class="status" bgcolor="{{ indicator_adoption }}">Total {{ WORKFLOWLEVEL1 }}s: {{ count_program}} <br/>Using Indicator Plans: {{ count_indicator }} </td>
                </tr>
                <tr>
                    <td>Indicators w/ Evidence</td>
                    <td class="status" bgcolor="{{ evidence_adoption }}">Total Collected Data: {{ count_indicator_data }} <br/>Evidence: {{ count_evidence_adoption }} </td>
                </tr>
            </table>
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>Sites {% if getFilteredName %} for {{ getFilteredName }} {% endif %}</b></p>
                    <style>
                        #map { height: 350px; }
                    </style>
                    <div id="map"></div>

                    {% if offline_mode %}
                        <h2>Offline (No map provided)</h2>
                    {% else %}
                        {% include "small_site_profile_map.html" %}
                    {% endif %}

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>{{ WORKFLOWLEVEL2 }} Status {% if getFilteredName %} for {{ getFilteredName }} {% endif %}</b></p>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
<script src="{{ STATIC_URL }}/js/Chart.bundle.min.js"></script>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Total", "Tracking", "Waiting for Approval", "Open", "Closed"],
        datasets: [{
            label: '# of {{ WORKFLOWLEVEL2}}s',
            data: [{{ project_total_count }}, {{ project_approved_count }}, {{ project_waiting_count}} , {{ project_open_count}}, {{ project_closed_count}} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(206, 192, 192, 0.2)',
            ],
            borderWidth: 1
        }]
    },
});

</script>

{% endblock content %}
