{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">Program Index</a></li>
<!--   {%  if project_agreement_id != '0'%}
    <li><a href="/workflow/dashboard/project/{{ project_agreement_id }}/">Project Dashboards</a></li>
  {% endif %} -->
  <li class="active">Distributions</li>
</ol>
{% endblock %}
{% load group_tag %}
{% block page_title %}Distribution List{% endblock %}

{% block content %}
<div>
    <a href="/formlibrary/distribution_add/0/" class="btn btn-large btn-success">New Distribution</a>
<!--  TODO: import distribution functionality
   <a href="/workflow/distribution_import" class="btn btn-large btn-info" data-toggle="modal" data-target="#importModal">Import Distribution</a> -->
<hr/>
</div>

<ul class="list-group">
{% for distribution in getDistribution %}
    <li class="list-group-item"><b>{{ distribution.create_date|date }} - {{ distribution.distribution_name }}</b>&nbsp;
    <div class="btn-group align-right" role="group" aria-label="...">
        <a href="/formlibrary/distribution_update/{{ distribution.id }}" class="btn btn-xs btn-warning">Update Distribution</a>
        <a href="/formlibrary/distribution_delete/{{ distribution.id }}" class="btn btn-xs btn-danger">Delete Distribution</a>
    </div>
    </li>

{% empty %}
    <li class="list-group-item">No distributions yet.</li>
{% endfor %}
</ul>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}
