{% load widget_tweaks %}

<nav id="id_iptt_report_filter">

  <form
    id="id_form_indicator_filter"
    method="post"
    novalidate>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    <div id="filter-top">
      <h5 class="card-title filter-form-padding-10" >Report Options</h5>
      <div class="form-group filter-form-padding-10" id="id_program">
        <label for="id_program" class="col-form-label">
          {{ form.program.label }}
        </label>
        {% render_field form.program class+="form-control" %}
      </div>

      <div class="form-group filter-form-padding-10" id="id_timeperiods">
        <label for="id_timeperiods" class="col-form-label">
          {{ form.timeperiods.label }}
        </label>
        {% render_field form.timeperiods class+="form-control" %}
      </div>

      <div class="form-group d-flex filter-form-padding-10">
        {% for item in form.timeframe %}
          {% with id=form.timeframe.auto_id %}
            <div class="form-check form-check-inline pt-1"
                 id="div_{{ id }}_{{ forloop.counter0 }}">
                                            <span class="form-check-input ">
                                                {{ item.tag }}
                                            </span>
              <label class="form-check-label"
                     for="{{ item.id_for_label }}">
                {{ item.choice_label }}
              </label>
            </div>
          {% endwith %}
        {% endfor %}
        <div class="form-group filter-form-padding-10" id_div_timeperiods_numrecentperiods">
          {% render_field form.numrecentperiods class+="form-control" %}
        </div>

      </div>
    </div>
    <div class="form-group filter-form-padding-10" id="id_level">
      <label for="id_level" class="col-form-label">
        {{ form.level.label }}
      </label>
      {% render_field form.level class+="form-control" %}
    </div>
    <div class="form-group filter-form-padding-10" id="id_type">
      <label for="id_type" class="col-form-label">
        {{ form.ind_type.label }}
      </label>
      {% render_field form.ind_type class+="form-control" %}
    </div>
    <div class="form-group filter-form-padding-10" id="id_sector">
      <label for="id_sector" class="col-form-label">
        {{ form.sector.label }}
      </label>
      {% render_field form.sector class+="form-control" %}
    </div>
    <div class="form-group filter-form-padding-10" id="id_site">
      <label for="id_site" class="col-form-label">
        {{ form.site.label }}
      </label>
      {% render_field form.site class+="form-control" %}
    </div>
    <div class="form-group filter-form-padding-10" id="id_indicators">
      <label for="id_indicators" class="col-form-label">
        {{ form.indicators.label }}
      </label>
      {% render_field form.indicators class+="form-control" %}
    </div>
    <div id="filter-bottom">
      <button
        type="submit"
        id="id_submit_form_filter"
        class="btn btn-info"
        style="width:50%; font-size: 50%; margin-left: 10px;">SAVE CHANGES
      </button>
      <button type="reset"
              class="btn btn-frozen"
              style="width: 25%; font-size: 50%">CANCEL
      </button>
    </div>
  </form>

</nav>
