{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

<div id="id_div_iptt_filter_form" >
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Program indicator overview</h5>
                        <p class="card-subtitle text-muted mb-2">
                            View progress toward Life of Program targets for all of a program’s indicators.
                        </p>
                        <form
                            action="{% url 'iptt_report' %}"
                            id="id_form_program_indicator_overview"
                            method="post"
                            novalidate>
                            {% csrf_token %}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            <div class="form-group" id="divid_timeperiods_program">
                                <label for="id_program" class="col-form-label">
                                    {{ form.program.label }}
                                </label>
                                {% render_field form.program class+="form-control" %}
                            </div>

                            <div class="form-group" id="div_id_timeperiods">
                                <label for="id_timeperiods" class="col-form-label">
                                    {{ form.timeperiods.label }}
                                </label>
                                {% render_field form.timeperiods class+="form-control" %}
                            </div>

                            <div class="form-group d-flex">
                                {% for item in form.timeframe %}
                                    {% with id=form.timeframe.auto_id %}
                                        <div class="form-check form-check-inline pt-1"
                                             id="div_{{ id }}_{{ forloop.counter0 }}">
                                            <span class="form-check-input ">
                                                {{ item.tag }}
                                            </span>
                                            <label class="form-check-label"
                                                   for="{{ item.id_for_label }}">
                                               {{ item.choice_label }}
                                           </label>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                                <div id="id_div_timeperiods_numrecentperiods">
                                    {% render_field form.numrecentperiods class+="form-control" %}
                                    <div id="id_validation_numrecent_timeperiods" class="has-error"></div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-1">
                                <button
                                    type="submit"
                                    id="id_submit_timeperiods_button"
                                    class="btn btn-info"
                                    style="width:100%;">View Report</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
