<!-- -
DOUGHNUT CHART template for custom charts
required:
* dataset[] with label and iterable data[] for each chart item (up to 6)
  for side by side or stacked
* elementID for placement on dashboard
* legendID for placement of legend for graph
* tooltip to append to tool tip i.e. (USD, KM, LBS, etc.) -->

{% block content %}
<div>I am an element: {{ tolaTableData }}</div>
    <canvas id="tolaDoughnutTest"></canvas>
{% endblock %}

<script>
//render project_status in a doughnut chart
var doughnutOptions = {
    // single tooltip
    // tooltipTemplate: "<%=label + ' {{ tooltip }}' %>",
};

// list_unique(set(tolaTableData))
// for list_item in list_unique
//     dict[list_item] = {value:[] ,color:[] ,label: {{list_item}}}
//count the unique entries in tolaTableData -- that is the number of colors and labels
//add a counter for the data
//for each entry in tola Table Data, increment the unique counts by one

var doughnutData = [
    {
    value: 1000,
    color:"#637b85",
    label: "Approved" 
    },
    {
    value : 2000,
    color : "#2c9c69",
    label: "Waiting"
    },
    {
    value : 3000,
    color : "#dbba34",
    label: "Rejected "
    },
    {
    value : 4000,
    color : "#c62f29",
    label: "In Progress"
    }
];
var ctx = document.getElementById("tolaDoughnutTest").getContext("2d");

//new code 
var tolaDoughnutChart = new Chart(ctx).Doughnut(doughtnutData, doughtnutOptions); 

</script> 
