{% load staticfiles %}
<!-- -
POLAR GRAPH template for custom charts
required:
* dataset[] with label and iterable data[] for each chart item (up to 8)
  for side by side or stacked
* elementID for placement on dashboard
* legendID for placement of legend for graph
* tooltip to append to tool tip i.e. (USD, KM, LBS, etc.)
-> -->
{% block content %}
    <canvas id="tolaPolarChart"></canvas>
{% endblock %}

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script>
<script>
    // polar chart for TOLA_IS
    var polarData = []
    for dataset in tolaTableData:
        polarData.update({ "value": tolaTableData.value, "color": "andomly generated color", "highlight": "randomly generated highlight","label":{% autoescape off %} {{tolaTableData.labels}} {% endautoescape %}})
    ];

    var options = {
        //Boolean - Show a backdrop to the scale label
        scaleShowLabelBackdrop : true,
        //String - The colour of the label backdrop
        scaleBackdropColor : "rgba(255,255,255,0.75)",
        // Boolean - Whether the scale should begin at zero
        scaleBeginAtZero : true,
        //Number - The backdrop padding above & below the label in pixels
        scaleBackdropPaddingY : 2,
        //Number - The backdrop padding to the side of the label in pixels
        scaleBackdropPaddingX : 2,
        //Boolean - Show line for each value in the scale
        scaleShowLine : true,
        //Boolean - Stroke a line around each segment in the chart
        segmentShowStroke : true,
        //String - The colour of the stroke on each segement.
        segmentStrokeColor : "#fff",
        //Number - The width of the stroke value in pixels
        segmentStrokeWidth : 2,
        //Number - Amount of animation steps
        animationSteps : 100,
        //String - Animation easing effect.
        animationEasing : "easeOutBounce",
        //Boolean - Whether to animate the rotation of the chart
        animateRotate : true,
        tooltipTemplate: "<%= value %>%"
    };
    var ctx = document.getElementById('tolaPolarChart').getContext("2d");
    var tolaPolar = new Chart(ctx).Doughnut(polarData, polarOptions); 
    document.getElementById('tolaPolarLegend').innerHTML = tolaPolar.generateLegend();

</script>
{% block content %}
    <canvas id="tolaPolarChart"></canvas>
{% endblock %}