<!-- import chart.js -->

<!-- load basic layout -->
{% extends "customdashboard/themes/custom_base_layout.html" %}

<!-- humanize numbers -->
{% load humanize %}

<!-- layout-specific content modules-->
{% block content %}

<!-- TODO: define layout sections -->

<!-- TODO: INPUT FORM FOR COMPONENT SELECTION
		
		NOTES: 
		input form needs to capture chart_selection as "charts/chart_type" and .html component name needs to match
		input form needs to capture narrative_selection as "narratives/narrative_type" and .html component name needs to match (ditto for other components) -->

<!-- for each layout section in layout sections-->
	{% with component_selection.name|add:".html" as template %}
    	{% include template %}
	{% endwith %}

<div class='row'>
<!-- 	<div class='col-md-4'>
		<div class='panel panel-info '>
			<div class='panel-heading text-center'></div>
				<div class="panel-body" style="min-height: 300; max-height: 300;">
				<span class='chart-title' style="overflow-y: scroll;">{{ tableHeaders.title1 }}</span>
				{% with tableData1 as tolaTableData %}
				    {% include 'customdashboard/components/charts/bar_graph.html' %}
				{% endwith %}
				</div>
		</div>
	</div> -->
</div>
{% endblock content %}
